<footer class="page-footer">
  <div class="box">
    <div class="info">
      <p class="contato">Contato</p>
      <p class="text_contato">(95)3624-4321</p>
      <p class="text_contato">Boa Vista-RR,Sebastião Diniz, 222 - Centro</p>
    </div>
    <div class="redes">
      <div class="icones">
        <img src="assets/img/face.svg" alt="">
        <img src="assets/img/insta.svg" alt="">
      </div>
    </div>
  </div>

    <div class="linha_baixo">
      <p>TicketPhone é operado por Ideias & Negócios Assesoria Empressarial LTDA-EPP</p>
      <p>CNPJ: 04.803.710/0001-00</p>
    </div>

</footer>
