/*------------------------- header ----------------------- */
.header{
  text-align: center;
}
.header img{
  width: 100px;
}
/* ------------------------ body ------------------------- */
.modal-send-message{
  width: 100%;
  padding-top: 30px;
}
.hello,
.label{
  margin: 0;
}
form{
  text-align: center;
}
.select,
.texto{
  width: 50%;
  margin: 0 auto;
}
.texto{
  margin: 10px auto;
  text-align: left;
  font-size: 20px;
  /* color: #888; */
}
.ipt{
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-around;
}
.ipt mat-form-field {
    width: 48%;
}
.textArea{
  width: 80%;
}
.bt{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.bt button{
  margin-left: 10px;
}
.mensagemResponse{
  min-height: 150px;
}
.mensagemResponse p {
    max-width: 500px;
    margin: 20px auto;
    text-align: center;
    font-size: 16px;
}

.mat-step-header .mat-step-icon{
  background-color: #009966 !important;
}

/* ------------------------ material angular io -----------*/


@media screen and (max-width: 860px) {
  .mat-form-field,
  .texto {
    width: 100% !important;
  }
  .ipt{
    flex-wrap: wrap;
  }
  .mat-horizontal-content-container{
    padding: 0 10px 10px 10px;
  }
}

/* ------------------------ footer ----------------------- */
.footer{
    margin-top: 15px;
    padding-top: 15px;
    text-align: center;
    color: #9b9b9b;
    border-top: 1px solid #ccc;
}
.footer .icons{
  padding-top: 10px;
}
.footer a {
    display: inline-block;
}
.icons img{
  width: 35px;
  height: 35px;
}
.info{
  text-align: center;
  font-size: 12px;
  padding-top: 10px;
}
.info-small{
  text-align: center;
  font-size: 10px;
  padding-top: 5px;
}
.info p,
.info-small p{
  margin: 0;
}


.modal-container {
    position: relative;
}

.modal-container .fechar-modal {
    position: absolute;
    top: -20px;
    right: -20px;
    width: 55px;
    min-width: 55px;
    padding: 0;
}

.modal-container .fechar-modal mat-icon {
    width: 30px;
    height: 28px;
    font-size: 28px;
    color: #888;
}

/* ********************* */
/* MODAL ENVIAR MENSAGEM */
/* ********************* */
.modal-send-message /deep/.mat-stepper-horizontal-line {
    min-width: 0;
}
@media screen and (max-width: 900px) {
    .modal-send-message /deep/.mat-stepper-horizontal-line {
        display: none;
    }
    .modal-send-message /deep/.mat-horizontal-stepper-header-container {
        margin: 0 auto 20px auto;
        flex-wrap: wrap;
    }
    .modal-send-message /deep/mat-step-header {
        height: 40px;
        width: calc(49% - 48px);
    }
}
@media screen and (max-width: 650px) {
    
    .modal-container .fechar-modal {
        right: -6px;
    }
    .modal-send-message /deep/mat-step-header {
        width: 100%;
    }
    .modal-send-message /deep/.mat-horizontal-content-container {
        padding: 0 10px 24px 10px;
    }

    /* overlay */
    /deep/.mat-dialog-container {
        padding: 24px 10px !important;
    }
    /deep/.cdk-global-overlay-wrapper {
        -webkit-align-items: flex-start !important; /* Safari 7.0+ */
        align-items: flex-start !important;
        overflow-y: auto;
        pointer-events: auto;
    }
    /deep/.cdk-global-overlay-wrapper .cdk-overlay-pane {
        width: 96% !important;
        max-width: none !important;
        margin: 10% 0;
    }
}