<div class="header">
  <img src="../../assets/img/logo-azul.svg">
</div>
<div class="modal-send-message">
  <mat-horizontal-stepper [linear]="isLinear">
    <mat-step [stepControl]="firstFormGroup" icon="1">
      <form [formGroup]="firstFormGroup">
        <div class="texto">
          <p class="hello">Olá,</p>
          <!--<p class="label">O que você gostaria de fazer?</p>-->
        </div>
        <mat-form-field class="select">
          <mat-select [(ngModel)] = "step1" (change)="changeLabelTextArea()" placeholder="O que você gostaria de fazer?" formControlName="selCtrl" required>
            <mat-option *ngFor="let q of question1" [value]="q">
              {{ q.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="select">
          <mat-select placeholder="Você é um(a)?" formControlName="perfilCtrl" required>
            <mat-option *ngFor="let p of perfil" [value]="p">
              {{ p.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="bt">
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>


    <mat-step icon="2" [stepControl]="secondFormGroup" *ngIf="(!!step1) && (step1.value == 1 || step1.value == 3 || step1.value == 4 || step1.value == 5 || step1.value == 6 || step1.value == 7)">

      <form [formGroup]="secondFormGroup">
        <div class="ipt">
          <mat-form-field>
            <input matInput placeholder="Qual o seu nome?" formControlName="nomeCtrl" required>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Qual o seu sobrenome?" formControlName="sobrenomeCtrl" required>
          </mat-form-field>
        </div>
        <div class="ipt">
          <mat-form-field>
            <input matInput placeholder="Qual o seu email?" formControlName="emailCtrl" required>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Qual o seu telefone?" formControlName="telCtrl" required>
          </mat-form-field>
        </div>
        <div class="bt">
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step icon="2" [stepControl]="thirdFormGroup" *ngIf="!!step1 && step1.value == 2">

      <form [formGroup]="thirdFormGroup">
        <div class="ipt">
          <mat-form-field>
            <input matInput placeholder="Qual o seu nome?" formControlName="nomeCtrl" required>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Qual o seu sobrenome?" formControlName="sobrenomeCtrl" required>
          </mat-form-field>
        </div>
        <div class="ipt">
          <mat-form-field>
            <input matInput placeholder="Qual o seu email?" formControlName="emailCtrl" required>
          </mat-form-field>
          <mat-form-field>
            <input matInput type="number" placeholder="Qual o seu telefone?" formControlName="telCtrl" required>
          </mat-form-field>
        </div>
        <div class="ipt">
          <mat-form-field >
            <input matInput placeholder="Qual o nome da sua empresa?" formControlName="empresaCtrl" required>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Qual a sua cidade?" formControlName="cidadeCtrl" required>
          </mat-form-field>
        </div>
        <div class="bt">
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step icon="3" [stepControl]="fourthFormGroup">
      <form [formGroup]="fourthFormGroup">
        <mat-form-field class="textArea">
          <textarea matTextareaAutosize matAutosizeMinRows="5" matAutosizeMaxRows="5" matInput [placeholder]="labelTextArea" formControlName="mensagemCtrl"></textarea>
        </mat-form-field>
        <div class="bt">
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext (click)="sendForm()">Enviar</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <div class="mensagemResponse">
        <p>{{ responseSuccess }}</p>
        <p> {{ responseStep }} </p>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>
<div class="footer">
  <div class="icons">
    <a href="https://www.facebook.com/sharer.php?u=https://ticketphone.com.br" target="_blank">
      <img src="../../assets/img/face.svg">
    </a>
    <a>
      <img src="../../assets/img/insta.svg">
    </a>
  </div>
  <div class="info">
    <p>(95) 3624-4321</p>
    <p>Boa Vista - RR, Sebastião Diniz, 222 - Centro</p>
  </div>
  <div class="info-small">
    <p>TicketPhone é operado por Ideias & Negócio$ Assessoria Empresarial LTDA - EPP</p>
    <p>CNPJ 04.803.710/0001-00</p>
  </div>
</div>

