<mat-card class="box-tipos">
  <div>
    <!--Ondinhas-->
    <img class="onda-branca" src="../../../assets/img/det-branco.svg" alt="">
  </div>
  <div>
    <p class="titulo">Ferramentas especiais para qualquer tipo de atividade</p>
    <p class="sub-titulo">Veja alguns exemplos de atividades realizadas pela TicketPhone</p>
  </div>
  <div id="desk" class="box">
    <div class="card-box">
      <div class="card pale">
        <div class="content">
          <div class="front">
            <div class="box-titulo-azul"><p>Palestras e cursos</p></div>
          </div>
          <div class="back">
            <img src="../../../assets/img/palestras.svg" alt="">
          </div>
        </div>
      </div>

        <div class="card show">
          <div class="content">
            <div class="front">
              <div class="box-titulo-azul"><p>Show e Festas</p></div>
            </div>
            <div class="back">
              <img src="../../../assets/img/shows.svg" alt="">
            </div>
          </div>
        </div>

       <div class="card passe">
         <div class="content">
           <div class="front">
             <div class="box-titulo-verde"><p>Passeios e visitações</p></div>
           </div>
           <div class="back turismo">
             <img src="../../../assets/img/passeios.svg" alt="">
           </div>
         </div>
       </div>

      <div class="card ativi">
        <div class="content">
          <div class="front">
            <div class="box-titulo-verde"><p>Atividades Turísticas</p></div>
          </div>
          <div class="back turismo">
            <img src="../../../assets/img/atividades.svg" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="card-box">
      <div class="card pale">
        <div class="content">
          <div class="front">
            <div class="box-titulo-azul"><p>Palestras e cursos</p></div>
          </div>
          <div class="back">
            <img src="../../../assets/img/palestras.svg" alt="">
          </div>
        </div>
      </div>

      <div class="card show">
        <div class="content">
          <div class="front">
            <div class="box-titulo-azul"><p>Show e Festas</p></div>
          </div>
          <div class="back">
            <img src="../../../assets/img/shows.svg" alt="">
          </div>
        </div>
      </div>

      <div class="card passe">
        <div class="content">
          <div class="front">
            <div class="box-titulo-verde"><p>Passeios e visitações</p></div>
          </div>
          <div class="back turismo">
            <img src="../../../assets/img/passeios.svg" alt="">
          </div>
        </div>
      </div>

      <div class="card ativi">
        <div class="content">
          <div class="front">
            <div class="box-titulo-verde"><p>Atividades Turísticas</p></div>
          </div>
          <div class="back turismo">
            <img src="../../../assets/img/atividades.svg" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-card>


<div class="card-banner">
  <p>
    Teste agora, personalize do jeito que você quiser
    experimente as ferramentas TicketPhone e crie experiências inesquecíveis
  </p>
  <div class="btn">
    <mat-button-toggle class="btn-experi">Experimente agora</mat-button-toggle>
    <mat-button-toggle (click)="openDialog()" class="btn-duvidas">Tenho dúvidas</mat-button-toggle>
  </div>
</div>
