.box-tipos{
  background: #4d4d4d;
  color: white;
  padding: 0px;
  padding-bottom: 40px;
}

.titulo{
  width: 70%;
  margin: 0px auto;
  text-align: center;
  font-size: 35px;
  text-shadow: 3px 0px 10px black;
  padding-top: 110px;
  padding-bottom: 10px;
}

.sub-titulo{
  text-align: center;
  font-size: 17px;
  margin-top: 0px;
  padding-bottom: 10px;
}

.box{
  position: relative;
  background: #404040;
  height: 100%;
  /*margin-bottom: 10px !important;*/
}

.card {
  width: 267px;
  min-height: 380px;
  float: left;
  perspective: 500px;
  margin-left: 10px;
}
.card.mobile {
  display: none;
  margin: 25px 1%;
  background: #0066cc;
  border-radius: 10px;
}
.card.mobile.turismo {
  background: #009966;
}
.card.mobile img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.card.mobile img:nth-child(2) {
  display: block;
  width: 87%;
  margin: 0 auto 10px;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  transition: transform 1s;
  transform-style: preserve-3d;
}

.card:hover .content {
  transform: rotateY( 180deg ) ;
  transition: transform 0.5s;
}

.front,
.back {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  backface-visibility: hidden;
}
.pale .front{
  background-image: url("/assets/img/palestra.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.show .front{
  background-image: url("/assets/img/show.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.passe .front{
  background-image: url("/assets/img/visitacao.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.ativi .front{
  background-image: url("/assets/img/atividade.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.event .front{
  background-image: url("/assets/img/beneficent.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.casa .front{
  background-image: url("/assets/img/casamento.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.feira .front{
  background-image: url("/assets/img/feiras.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.compet .front{
  background-image: url("/assets/img/compet.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.back {
  background: #0066cc;
  color: white;
  transform: rotateY( 180deg );
}
.turismo{
  background: #009966;
}

.back img{
  width: 100%;
  display: block;
  margin: 20px auto;
}

.card-box {
  width: 93%;
  margin: 0px auto;
  display: flex;
  justify-content: center;
  position: relative;
  background: #404040;
  padding-bottom: 30px;
}

.box-titulo-azul{
  background: #0066ccd9;
  width: 100%;
  min-height: 52px;
  position: absolute;
  bottom: 0;
}
.box-titulo-verde{
  background: #009966c9;
  width: 100%;
  min-height: 52px;
  position: absolute;
  bottom: 0;
}

.box-titulo-azul p ,
.box-titulo-verde p{
  margin: 0px;
  padding: 10px;
  text-align: center;
  font-size: 20px;
}

.card-banner{
  background-image: url("../../../assets/img/banner3.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 280px;
  margin: 30px auto;
}

.card-banner p{
  width: 51%;
  margin: 0px auto;
  font-size: 24px;
  color: white;
  padding-top: 95px;
  text-align: center;
}
.btn-experi {
  background-color: #ff0099;
  color: white;
  border-radius: 5px;
  margin-right: 20px;
}
.btn-duvidas{
  background-color: white;
  color: #ff0099;
  border-radius: 5px;
}
.btn{
  padding: 26px;
  display: flex;
  justify-content: center;
}

.onda-branca{
  margin-top: -8px;
  height: 38px;
  width: 100%;
}

.ondinha {
  position: absolute;
  width: 100%;
  height: 70px;
  top: -40px;
  background-image: url(/assets/img/ondinha-branca.png);
  background-repeat: repeat-x;
  background-position: center;
  z-index: 1;
}

/*MOBILE*/
@media screen and (max-width: 45em) {
  .sub-titulo {
    padding: 10px 20px;
  }
  .card-banner p {
    width: 88%;
    margin: 0px auto;
    font-size: 18px;
    color: white;
    padding-top: 95px;
    text-align: center;
  }

  mat-button-toggle{
    font-size: 14px;
  }
   .onda-branca{
     display: none;
   }

   .ondinha {
     display: none;
   }

  .card-box{
    width: 100%;
    flex-wrap: wrap;
    padding: 0;
    /* display: flow-root !important; */
    /*flex-direction: column;*/
  }
  .card{
    /*margin-left: 9%;*/
    margin-bottom: 30px;
  }
  .titulo{
    padding-top: 50px;
    width: 80%;
    font-size: 26px;
  }

  .card {
    display: none;
  }

  .card.mobile {
    display: block;
  }
}