<mat-card class="box-tipos">

    <!--Ondinhas-->
    <div class="ondinha"></div>

    <!-- titulo -->
    <div>
        <p class="titulo">Ferramentas inteligentes para você personalizar seus eventos e atividades! </p>
        <p class="sub-titulo">Veja alguns exemplos de atividades realizadas pela TicketPhone</p>
    </div>

    <!-- cards ferramentas -->
    <div id="desk" class="box">

        <!-- 1 linha cards -->
        <div class="card-box">
            <div class="card pale">
                <div class="content">
                    <div class="front">
                        <div class="box-titulo-azul">
                            <p>Palestras e cursos</p>
                        </div>
                    </div>
                    <div class="back">
                        <img src="/assets/img/palestras.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="card pale mobile">
                <img src="/assets/img/palestra2.jpg" alt="">
                <img src="/assets/img/palestras.svg" alt="">
            </div>

            <div class="card show">
                <div class="content">
                    <div class="front">
                        <div class="box-titulo-azul">
                            <p>Show e Festas</p>
                        </div>
                    </div>
                    <div class="back">
                        <img src="/assets/img/shows.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="card show mobile">
                <img src="/assets/img/show2.jpg" alt="">
                <img src="/assets/img/shows.svg" alt="">
            </div>

            <div class="card passe">
                <div class="content">
                    <div class="front">
                        <div class="box-titulo-verde">
                            <p>Passeios e visitações</p>
                        </div>
                    </div>
                    <div class="back turismo">
                        <img src="/assets/img/passeios.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="card passe mobile turismo">
                <img src="/assets/img/visitacao2.jpg" alt="">
                <img src="/assets/img/passeios.svg" alt="">
            </div>

            <div class="card ativi">
                <div class="content">
                    <div class="front">
                        <div class="box-titulo-verde">
                            <p>Atividades Turísticas</p>
                        </div>
                    </div>
                    <div class="back ">
                        <img src="/assets/img/atividades.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="card ativi mobile turismo">
                <img src="/assets/img/atividade2.jpg" alt="">
                <img src="/assets/img/atividades.svg" alt="">
            </div>
        </div>

        <!-- 2 linha cards -->
        <div class="card-box">
            <div class="card compet">
                <div class="content">
                    <div class="front">
                        <div class="box-titulo-azul">
                            <p>Competições</p>
                        </div>
                    </div>
                    <div class="back">
                        <img src="/assets/img/compet.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="card compet mobile">
                <img src="/assets/img/compet2.jpg" alt="">
                <img src="/assets/img/compet.svg" alt="">
            </div>

            <div class="card feira">
                <div class="content">
                    <div class="front">
                        <div class="box-titulo-azul">
                            <p>Feiras e exposições</p>
                        </div>
                    </div>
                    <div class="back">
                        <img src="/assets/img/feiras.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="card feira mobile">
                <img src="/assets/img/feiras2.jpg" alt="">
                <img src="/assets/img/feiras.svg" alt="">
            </div>

            <div class="card casa">
                <div class="content">
                    <div class="front">
                        <div class="box-titulo-azul">
                            <p>Casamentos e encontros</p>
                        </div>
                    </div>
                    <div class="back">
                        <img src="/assets/img/casamentos.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="card casa mobile">
                <img src="/assets/img/casamento2.jpg" alt="">
                <img src="/assets/img/casamentos.svg" alt="">
            </div>

            <div class="card event">
                <div class="content">
                    <div class="front">
                        <div class="box-titulo-azul">
                            <p>Eventos beneficientes</p>
                        </div>
                    </div>
                    <div class="back">
                        <img src="/assets/img/eventos.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="card event mobile">
                <img src="/assets/img/beneficent2.jpg" alt="">
                <img src="/assets/img/eventos.svg" alt="">
            </div>

        </div>

        <div style="padding: 30px 50px;">*Em breve</div>
    </div>

</mat-card>

<!-- banner -->
<div class="card-banner">
    <p>
        Teste agora as ferramentas TicketPhone e ofereça experiências inesquecíveis!
    </p>
    <div class="btn">
        <mat-button-toggle (click)="Mostra()" class="btn-experi">Experimente agora</mat-button-toggle>
        <mat-button-toggle class="btn-duvidas">Tenho dúvidas</mat-button-toggle>
    </div>
</div>

<!--Login-->
<app-card-login *ngIf="!show"></app-card-login>