.banner{
  background-image: url("../../../assets/img/pagamento.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
}

.onda-branca{
  margin-top: -2px;
}
.box{
  width: 100%;
  display: inline-flex;
}
.esquerda{
  width: 50%;
  border-right: 1px solid #cacaca;
}
.direita{
  width: 40%;
  padding-left: 80px;
}
.img{
  width: 35%;
  height: 200px;
  padding: 30px;
}
.box-info{
  display: inline-flex;
  padding-top: 20px;
}
.box-info2{
  display: inline;
  padding-top: 20px;
}
.box-info2 p{
  color: #5f5f5f;
  width: 50%;
  margin-top: 28px;
}
.box-text{
  width: 50%;
  color: #5f5f5f;
  padding-left: 40px;
  padding-top: 14px;
}
.titulo{
  font-size: 20px;
  padding: 6px;
  font-weight: 600;
  color: #5f5f5f;
  margin-left: 20px;
}
.maquina{
  width: 250px;
  height: 200px;
}
.conteudo{
  position: relative;
}

.link p {
  margin-top: 40px;
  font-size: 14px;
  color: #5f5f5f;
}
.box-mob{
  display: none;
}
.texto-banner{
  text-align: center;
}
.texto-banner h4{
  color: #fff;
  font-size: 30px;
  padding-top: 71px;
  margin-bottom: 2px;
}
.texto-banner p{
  color: white;
  font-size: 20px;
  width: 37%;
  margin: 0px auto;
}
@media screen and (max-width: 45em){
  .box{
    display: none;
  }
  .box-mob{
    display: block;
  }
  .onda-branca{
    display: none;
  }
  .titulo_tipo{
    font-size: 20px;
    color: #4d4d4d;
    margin-left: 20px;
  }
  .titulo~p{
    margin-left: 20px;
    color: #5f5f5f;
  }
  ul{
    list-style-type: none;
    padding: 0px;
  }
  ul li{
    color: #5f5f5f;
    margin-left: 20px;
  }
  .box2 p{
    margin-left: 20px;
    color: #5f5f5f;
  }
}
