<div class="conteudo">
    <!--Banner-->
    <div class="banner">

        <!--Ondinhas-->
        <!-- <div class="ondinha"></div> -->

        <!-- banner overlay -->
        <div class="banner-overlay">

            <div class="texto-banner">
                <h4>Aceite todas as formas de pagamentos</h4>
                <p>Ofereça várias formas de pagamentos ao seu cliente, com comodidades e segurança.
                </p>
            </div>

        </div>

    </div>

    <!--Descktop-->
    <div class="box">
        <div class="esquerda">
            <div class="box-info">
                <div class="box-img">
                    <img class="img" src="assets/img/site.jpg" alt="">
                </div>
                <div class="box-text">
                    <p class="titulo">Venda pelo site:</p>
                    <p>Do nosso site ou integre nosso sistema e venda pelo seu site.</p>
                </div>
            </div>
            <div class="box-info">
                <div class="box-img">
                    <img class="img" src="assets/img/app.jpg" alt="">
                </div>
                <div class="box-text">
                    <p class="titulo">Venda pelos aplicativos:</p>
                    <p>Através do app
                        <span style="color: #009966">Organizador</span> você realiza inscrições e pagamentos.</p>
                    <p>Sua atividade também estará disponível pata se comprar no app
                        <span style="color: #0066cc">Participantes</span>.
                    </p>
                </div>
            </div>
        </div>
        <div class="direita">
            <div class="box-info2">
                <p>
                    Realize inscrições e pagamentos ao mesmo tempo com as
                    <span style="color: #ff0099;">Maquininhas TicketPhone!</span>
                    onde você estiver, sem precisar de acesso à internet!
                </p>
                <p>
                    Controle todas as suas inscrições e vendas automaticamente até mesmo as paga em dinheiro
                </p>
            </div>
            <div>
                <img class="maquina" src="assets/img/maquini.jpg" alt="">
            </div>
            <div class="link">
                <p>Descubra qual modelo é perfeita para seu negócio, clique em
                    <a style="color: #ff0099;" href="">Saiba mais</a>
                </p>
            </div>
        </div>
    </div>
    <!--Mobile-->
    <div class="box-mob">
        <div class="box1">
            <p class="titulo_tipo">On-line</p>
            <ul class="tipos">
                <li>Cartão de crédito</li>
                <li>Cartão de débito</li>
                <li>Transferência bancaria*</li>
                <li>Boleto</li>
            </ul>
            <p class="titulo"><span style="font-weight: bold;">Venda pelo site</span>: Do nosso site ou integre nosso sistema e venda pelo seu site.</p>
            <p class="titulo">
                <span style="font-weight: bold;">Venda pelos aplicativos</span>: 
                Através do app <span style="color: #009966">Organizador</span> você realiza inscrições e pagamentos.
                Sua atividade também estará disponível pata se comprar no app <span style="color: #0066cc">Participantes</span>.
            </p>
        </div>
        <div class="box2">
            <p class="titulo_tipo">Presencial</p>
            <ul class="tipos">
                <li>Cartão de crédito</li>
                <li>Cartão de débito</li>
                <li>Transferência bancaria*</li>
                <li>Boleto</li>
                <li>Dinheiro</li>
            </ul>
            <div class="box2">
                <p>
                    Realize inscrições e pagamentos ao mesmo tempo com as
                    <span style="color: #ff0099;">Maquininhas TicketPhone!</span>
                    onde você estiver, sem precisar de acesso à internet!
                </p>
                <p>
                    Controle todas as suas inscrições e vendas automaticamente até mesmo as paga em dinheiro
                </p>
            </div>
            <div class="link">
                <p>Descubra qual modelo é perfeita para seu negócio, clique em
                    <a style="color: #ff0099;" href="">Saiba mais</a>
                </p>
            </div>
        </div>
    </div>
</div>