.banner{
  position: relative;
  background-image: url("/assets/img/pagamento.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  height: 400px;
}

.banner-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .3);
}

.ondinha {
  position: absolute;
  width: 100%;
  height: 70px;
  top: -35px;
  background-image: url('/assets/img/ondinha-branca.png');
  background-repeat: repeat-x;
  background-position: center;
  z-index: 1;
}

.onda-branca{
  margin-top: -8px;
  height: 50px;
  width: 100%;
}
.box{
  display: flex;
  width: 90%;
  padding: 70px 0;
  margin: auto;
}
.esquerda{
  width: 50%;
  border-right: 1px solid #cacaca;
}
.direita{
  width: calc(50% - 40px);
  padding-left: 40px;
}
.img{
  width: 100%;
  height: auto;
}
.box-info{
  display: inline-flex;
  padding-top: 20px;
}
.box-img {
  width: 40%;
  height: 200px;
  padding: 10px;
}
.box-info2{
  display: inline;
  padding-top: 20px;
}
.box-info2 p{
  color: #5f5f5f;
  width: 50%;
  margin-top: 28px;
}
.box-text{
  width: 50%;
  color: #5f5f5f;
  padding: 15px 15px 0 30px;
}
.titulo{
  font-size: 20px;
  padding: 6px;
  padding-left: 0;
  font-weight: 600;
  color: #5f5f5f;
}
.maquina{
  width: 90%;
  height: auto;
  max-width: 420px;
}
.conteudo{
  position: relative;
}

.link p {
  margin-top: 40px;
  font-size: 14px;
  color: #5f5f5f;
}
.box-mob{
  display: none;
}
.texto-banner{
  text-align: center;
}
.texto-banner h4{
  color: #fff;
  font-size: 30px;
  padding-top: 71px;
  margin-bottom: 2px;
}
.texto-banner p{
  color: white;
  font-size: 20px;
  width: 37%;
  margin: 0px auto;
}
@media screen and (max-width: 970px){
  .titulo {
    margin-top: 0;
  }
}

@media screen and (max-width: 45em){
  .box{
    display: none;
  }
  .box-mob{
    display: block;
    padding: 10px 15px;
  }
  .onda-branca{
    display: none;
  }
  .ondinha {
    display: none;
  }
  .titulo_tipo{
    font-size: 20px;
    font-weight: bold;
    color: #4d4d4d;
    margin-left: 20px;
    margin-bottom: 5px;
  }
  .titulo_tipo + ul {
    margin: 5px 0;
  }
  .titulo {
    margin-left: 20px;
    font-size: 16px;
    font-weight: normal;
    color: #5f5f5f;
    margin-bottom: 8px;
  }
  .texto-banner p{
    margin-top: 8px;
    width: 80%;
  }
  ul{
    list-style-type: none;
    padding: 0px;
  }
  ul li{
    color: #5f5f5f;
    margin-left: 20px;
  }
  .box2 p{
    margin-left: 20px;
    color: #5f5f5f;
  }
}

@media screen and (max-width: 970px){
}