<section>
    <div class="ferramentas">
        <p class="titulo_ferraments">Seus eventos e atividades
            <br/>personalizadas do jeito que você quiser</p>
    </div>
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="box">
                    <p class="titulo">Crie tipos de inscrições e lotes de ingressos.</p>
                    <ul>
                        <li>Com ingressos individuais cada participante comprará seu próprio ingresso, criar seu próprio cadastro
                            e você terá todas as informações de quem participará da sua da sua atividade. </li>
                        <li>É uma ótima opção se você gostaria de ter o controle que quem participa da sua atividade e de proporcionar
                            uma relação pessoal para cada participante</li>
                        <li>Ideal para eventos e atividades acadêmica, profissionais, competições, passeios turísticos, entre
                            outros….</li>
                    </ul>
                    <div class="border"></div>
                    <ul>
                        <li> Com ingressos múltiplos o mesmo participante pode comprar quantos ingressos ele quiser, para familiares
                            e amigos utilizando o seu próprio cadastro.</li>
                        <li>Nesta opção você pode criar pacotes de vendas de ingressos, vender mesas, grupos, times, dar descontos,
                            o que quiser.</li>
                        <li>Ideal para eventos que não precisam da identificação: Shows, apresentações, feiras, festas, passeios
                            turísticos, entradas para parques, entre outros…</li>
                    </ul>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="box">
                    <p class="titulo">Seu ingresso será individual ou múltiplo?</p>
                    <ul>
                        <li> Pensando em todos os tipos de evento e atividades a TicketPhone possibilita à você separar seus ingressos
                            em TIPOS.</li>
                        <li> Separe seus ingressos em:.</li>
                        <li>- Meia e Inteira;</li>
                        <li> - Pista e Vip;</li>
                        <li>- Lote 1, 2, 3;</li>
                        <li>-Bennie and the jets, Your song e Rocket man.</li>
                        <li> Do jeito que você quiser: Escolha os preõs de cada um dos lotes; As datas de lançamento; Quais programações,
                            produtos, serviços e pacotes estão disponíveis para cada um dos tipos.</li>
                    </ul>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="box">
                    <p class="titulo">Venda experiências separadamente.</p>
                    <ul>
                        <li>Na TicketPhone você não precisa criar um evento para vender programações separadamente.</li>
                        <li>Crie a programação do seu evento e venda cada uma delas individualmente. Ou crie uma programação
                            principal e disponibilize ao seu cliente adicionar atividades extras na hora da compra.
                        </li>
                        <li>*programação incluída automaticamente à compra do ingresso.</li>
                    </ul>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="box">
                    <p class="titulo">Venda produtos e serviços.</p>
                    <ul>
                        <li>Não perca a oportunidade de vender. Além de seus ingressos e passes ofereça mais aos seus clientes.
                        </li>
                        <li> Já pensou em vender on-line camisas, copos decorativos, baldes de bebidas, kits, brindes, acesso
                            aos camarins, serviço de transporte, de delivery, de guia, tradutor o que você quiser facilmente
                            configurado.</li>
                    </ul>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="box">
                    <p class="titulo">E que tal vender pacotes?.</p>
                    <ul>
                        <li>Crie pacotes com seus ingressos, programações, produtos e serviços.</li>
                        <li>Agrupe e crie preços promocionais para estimular suas vendas.</li>
                        <li>
                            <strong>
                                Pacotes Fixo
                            </strong>
                        </li>
                        <li> Um grupo de itens vendidos em conjunto.</li>
                        <li>
                            <strong>
                                Pacotes personalizados
                            </strong>
                        </li>
                        <li>
                            Um grupo de itens onde o participante pode selecionar um número determinado de itens do pacote. Ex:
                        </li>
                        <li>
                            Pacote 1- Selecione 2 palestra:
                        </li>
                        <li>
                            -Palestra 1
                        </li>
                        <li>
                            -Palestra 2
                        </li>
                        <li>
                            -Palestra 3
                        </li>
                        <li>
                            -Palestra 4
                        </li>
                    </ul>
                </div>
            </div>
            <!-- <div class="swiper-slide">
                <div class="box">
                    <p  class="titulo">Ferramentas.</p>
                    <ul>
                    <li>Não perca a oportunidade de vender.
                        Além de seus ingressos e passes ofereça mais aos seus clientes.
                    </li>
                    <li> Já pensou em vender on-line camisas, copos decorativos, baldes de bebidas, kits, brindes, acesso aos camarins,
                        serviço de transporte, de delivery, de guia, tradutor o que você quiser facilmente configurado.</li>
                    </ul>
                    <div>
                    <img class="img-ferra" src="/assets/img/FERRA.svg" alt="">
                    </div>
                </div>
            </div> -->
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div>
</section>