<div class="swiper-container">

    <!-- Slides -->
    <div class="swiper-wrapper">
        <div class="swiper-slide" data-swiper-autoplay="2000">
            <mat-card class="cards">
                <mat-card-title class="card-title">
                    <h3 class="titulo_card-verde">Primeiros passos</h3>
                    <p class="titulo_card-verde">Simples e fácil!</p>
                </mat-card-title>
                <mat-card-content>
                    <p class="texto-card">
                        Crie e organize seus eventos e atividades turísticas de qualquer lugar, com facilidade e segurança. Do panejamento dos eventos
                        e atividades às vendas.
                    </p>
                    <ul>
                        <li>
                            Planeje e gerencie seus eventos/atividades utilizando nosso Check-list, planilha financeira e o gerenciador financeiro pelo
                            desktop e aplicativo;
                        </li>
                        <li>
                            Divulgue seus produtos/serviços enviando e-mail marketing;
                        </li>
                    </ul>
                </mat-card-content>
            </mat-card>
        </div>

        <div class="swiper-slide" data-swiper-autoplay="2000">
            <mat-card class="cards">
                <mat-card-title class="card-title">
                    <h3 class="titulo_card-azul">No grande dia</h3>
                    <p class="titulo_card-azul">O diferencial na palma da sua mão!</p>
                </mat-card-title>
                <mat-card-content>
                    <p class="texto-card">
                        Utilize as diversas ferramentas durante a realização do seus eventos e atividades e crie experiências inesquecíveis para
                        seus clientes.
                    </p>
                    <ul>
                        <li>
                            Ofereça mimos aos seus clientes por meio de sorteios;
                        </li>
                        <li>
                            Aplique pesquisas e conheça a opinião e nível de satisfação dos seus clientes;
                        </li>
                        <li>
                            Disponibilize mais produtos/serviços para seus clientes e potencialize suas vendas;
                        </li>
                        <li>
                            Organize o debate em seus eventos coorporativos/acadêmicos – receba as perguntas direcionadas aos palestrantes em seu APP
                            Gestor;
                        </li>
                        <li>
                            Conheça todas as ferramentas da TicketPhone e interaja mais com seus clientes.
                        </li>
                    </ul>
                </mat-card-content>
            </mat-card>
        </div>

        <div class="swiper-slide" data-swiper-autoplay="2000">
            <mat-card class="cards">
                <mat-card-title class="card-title">
                    <h3 class="titulo_card-rosa">Sem complicações</h3>
                    <p class="titulo_card-rosa">Feche seus eventos/atividades com sucesso!</p>
                </mat-card-title>
                <mat-card-content>
                    <p class="texto-card">
                        Conclua seus eventos e atividades e entregue os resultados com rapidez!
                    </p>
                    <ul>
                        <li>
                            Gere relatórios detalhados de seus eventos/atividades: financeiro, perfil de público, número de inscrições, número de participantes,
                            entre outros;
                        </li>
                        <li>
                            Emita certificados automaticamente, com carga horária real ou total;
                        </li>
                        <li>
                            Mande e-mails aos seus clientes e fornecedores;
                        </li>
                    </ul>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
</div>