<div class="swiper-container">
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide"  data-swiper-autoplay="2000">
      <img class="img-slides" src="assets/img/Prancheta%201mobile.jpg" alt="">
    </div>
    <div class="swiper-slide"  data-swiper-autoplay="2000">
      <img class="img-slides" src="assets/img/Prancheta%202mobile.jpg" alt="">
    </div>
    <div class="swiper-slide"  data-swiper-autoplay="2000">
      <img class="img-slides" src="assets/img/Prancheta%203mobile.jpg" alt="">
    </div>
  </div>

  <!-- Add Pagination -->
  <div class="swiper-pagination"></div>
</div>
