/*//////////// SEÇÃO PLATFORMAS*/
.logo-plat{
  position: relative;
  z-index: 40;
  width: 82%;
}
.plataformas {
  background:linear-gradient(135deg,#009966,#007F9B ) ;
  padding: 0px;
  margin: -24px 0px;
  height: 220px;
}
.titulo-plat,.sub-plat{
  color: white;
}
.sub-plat{
  margin: -38px;
  padding-left: 35px;
}

.titulo-plat{
  width: 40%;
  font-size: 26px;
}
.imagens-plat{
  width: 80px;
  margin: 20px;
}
.box{
  width: 100%;
}
.box-plat-esquer{
  width: 30%;
  padding-left: 30px;
}
.box-plat-direita{
  width: 80%;
  text-align: right;
  padding-right: 40px;
}
.tab-plat{
  margin-top: 13px;
}
.desk{
  width: 50%;
}
.desk2{
  width: 260px;
  margin-top: -22px
}
.plataformas /deep/ .mat-tab-label{
  height: 70px !important;
}
.plataformas /deep/ .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
  background-color: white !important;
}

.plataformas /deep/ .mat-tab-group{
  width: 520px;
  min-width: 520px;
  display: block;
  margin: 0px auto;
}
.plataformas /deep/ .mat-tab-header{
  border-bottom: none !important;
}
.plataformas /deep/ .mat-tab-group.mat-primary .mat-ink-bar:after {
  content: '' !important;
  margin: auto !important;
  position: absolute;
  left: 0;
  right: 0;
  width: 0;
  height: 0;
  bottom: -1px;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 10px solid white;
}
.plataformas /deep/ .mat-tab-group.mat-primary .mat-ink-bar{
  background:transparent !important;
}
.plataformas /deep/ .mat-tab-header-pagination-chevron {
  border-color: white;
}

.btn{
  text-align:center;
}
.demo-tab-content{
  height: 500px;
}

.pai{
  height: 700px;
  width: 100%;
}
.btn-experi {
  background-color: #ff0099;
  color: white;
  border-radius: 5px;
}

.box-texto{
  width: 65%;
  margin: 10px auto;
  padding-left: 100px;
}

.box-texto2{
  width: 65%;
  margin-top: 9px;
  margin-bottom: 31px;
  text-decoration: none;
}
ul.none{
  list-style-type: none;
}
.box-icones{
  width: 75%;
}
.img-pac-fer{
  width: 62%;
  margin: 0px auto;
  display: block;
}
.img-maq{
  width: 350px;
  padding-top: 14px;
  padding-left: 50px;
}
.box-btn{
  text-align: center;
  width: 100%;
}
.img-btn{
  width: 30%;
}
.texto-pla{
  text-align: left;
  padding: 40px;
  color: #5f5f5f;
  font-size: 17px;
}
.titulo-maquinas{
  font-size: 24px;
  font-weight: 600;
}

.titulo_ferraments{
  padding-top: 10px;
  color: white;
  margin: 0px auto;
  padding-top: 40px;
  width: 100%;
  text-align: center;
  line-height: 33px;
  font-size: 30px;
  font-weight: bold;
}
.sub{
  width: 215px;
  margin: 0px auto;
  color: white;
}

.box-info{
  background: white;
}
.display{
  display: flex;
  justify-content: flex-end;
  margin: 0px auto;
  width: 100%;
}
.esquerda{
  padding-top: 30px;
  width: 40%;

}
.esquerda2{
  width: 56%;
}
.box-desk{
  padding-top: 75px;
  width: 40%;
  text-align: center;
}

.maq1 {
  width: 50%;
  padding-top: 30px;
  display: inline-flex;
}
.maq2{
  width: 50%;
  padding-top: 30px;
  display: inline-flex;
}
.texto-pla2{
  color: #5f5f5f;
  width: 50%;
  padding-left: 20px;
  font-size: 17px;
}

.info{
  text-align: center;
  padding-bottom: 20px;
}
@media screen and (max-width: 970px){
  .plataformas{
    height: 260px;
  }
  .plataformas .mat-tab-group{
    width: 47%;
  }
  .box-info{
    height: 800px;
     padding-bottom:  200px;
  }
  .img-maq{
    width: 80%;
  }
  .desk2{
    width: 200px
  }
  .texto-pla[_ngcontent-c10] {
    text-align: left;
    padding: 10px;
    color: #5f5f5f;
    font-size: 17px;
  }
  .box-desk {
    padding-top: 44px;
  }
  .desk {
    width: 70%;
  }

}
