<div class="pai">
<mat-card id="desk" class="plataformas">
  <div class="info">
    <p class="titulo_ferraments">Plataforma
      integrada
     </p>
    <p class="sub"> Gerencie de qualquer lugar
      on-line e off-line</p>
  </div>
  <div class="box">
    <mat-tab-group class="tab-plat" [(selectedIndex)]="index">
      <mat-tab class="tab-select">
        <ng-template mat-tab-label>
          <img class="imagens-plat" src="../../../assets/img/web.svg" alt="">
        </ng-template>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <img class="imagens-plat" src="../../../assets/img/tab e sm.svg" alt="">
        </ng-template>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <img  class="imagens-plat" src="../../../assets/img/maq ticketp.svg" alt="">
        </ng-template>
      </mat-tab>
    </mat-tab-group>

    <!--Opções das divs-->
    <div class="box-info" *ngIf="index == 0">
     <div class="display">
       <div class="esquerda">
         <div class="texto-pla">
           <p>Crie e configure todos os seus eventos e atividades no TicketPhone web. Realize o login da sua conta organizador no menu principal do site.
             Acompanhe suas vendas, listagem de participantes cadastrados e  inscritos</p>
           <p>
             Acesse o banco de dados dos seus clientes, conheça seus perfils e gostos.
             Gere certificados com horas contabilizadas automaticamente.
           </p>
           <p>
             Faça sorteios entre seus particpantes.
             Troque mensagens e e-mails com seus participantes.
           </p>
         </div>
       </div>
       <div class="box-desk">
           <img  class="desk"  src="assets/img/desktop.png" alt="">
         <div class="btn">
         <mat-button-toggle (click)="Mostra()" class="btn-experi">Experimente agora</mat-button-toggle>
         </div>
       </div>
     </div>
    </div>
    <div class="box-info" *ngIf="index == 1">
      <div class="display">
        <div class="esquerda">
          <div class="texto-pla">
            <p>Os aplicativos da TicketPhone possuem todas as ferramentas para proporcionar experiências inesquecíveis aos seus clientes.</p>
            <p>
              Através do app <strong>Participante</strong> seu cliente pode acompanha todo o histórico de atividades dele, comprar ingressos, realizar pagamentos, gerar certificados,
              trocar mensagens com a organização, enviar perguntas aos palestrantes, acessar roteiros e mais…
              O aplicativo Participante já está disponível para ser baixado gratuitamente pela Google play e Apple Store.
            </p>
            <p>
              Com o app <strong> Organizador</strong> você pode criar, editar e acompanhar todas as suas atividades sem precisar de acesso à internet. Além de ter todas as ferramentas na palma da sua mão:
              Registro de presenças, receber e enviar mensagens, roteiros, sorteios, pesquisas, letreiro visual e mais…
            </p>
          </div>
        </div>
        <div class="box-desk">
          <div class="esquerda">
            <img  class="desk desk2"  src="assets/img/app%20verde.png" alt="">
          </div>
          <div class="btn">
            <p>Em Breve</p>
          </div>
        </div>

        <div class="box-desk">
          <div class="esquerda esquerda2">
            <img  class="desk desk2 "  src="assets/img/app%20azul.png" alt="">
            <div class="box-btn">
              <a href="">
                <img class="img-btn"  src="../../../assets/img/disponivel-app-store.png" alt="">
              </a>
              <a href="">
                <img class="img-btn" src="../../../assets/img/googleplay.png" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="box-info" *ngIf="index == 2">
      <div class="display">
        <div class="maq1">
          <div class="texto-pla2">
            <p class="titulo-maquinas">Completa TicketPhone</p>
            <p>Sistema TicketPhone integrada. Gerencie toda as suas atividades através do aplicativo organizador na própria maquininha.
              Receba o pagamento de seus ingressos/passaportes, produtos e serviços com cartão de crédito e registre os pagamentos em dinheiro.
              Imprima os ingressos e comprovantes de pagamento ou envie-os por e-mail.</p>
          </div>
          <div>
            <img class="img-maq"  src="assets/img/maq.png" alt="">
          </div>
        </div>

         <div class="maq2">
           <div class="texto-pla2">
             <p class="titulo-maquinas">Compacta TicketPhone</p>
             <p> Sistema TicketPhone integrada. Gerencie toda as suas atividades através do aplicativo organizador na própria máquininha.
               Receba o pagamento de seus ingressos/passaportes, produtos e serviços com cartão de crédito e registre os pagamentos em dinheiro.
               Imprima os ingressos e comprovantes de pagamento ou envie-os por e-mail..</p>
           </div>
           <div>
             <img class="img-maq"  src="assets/img/maq2.png" alt="">
           </div>
         </div>
      </div>
    </div>
  </div>
</mat-card>
</div>
