/*//////////// SEÇÃO PLATFORMAS*/
.logo-plat{
  position: relative;
  z-index: 40;
  width: 82%;
}
.plataformas {
  background:linear-gradient(135deg,#009966,#007F9B ) ;
  padding: 0px;
  margin: -24px 0px;
  height: 209px;
}
.titulo-plat,.sub-plat{
  color: white;
}
.sub-plat{
  margin: -38px;
  padding-left: 35px;
}

.titulo-plat{
  width: 40%;
  font-size: 26px;
}
.imagens-plat{
  width: 80px;
  margin: 20px;
}
.box{
  width: 100%;
}
.box-plat-esquer{
  width: 30%;
  padding-left: 30px;
}
.box-plat-direita{
  width: 80%;
  text-align: right;
  padding-right: 40px;
}
.tab-plat{
  margin-top: 13px;
}
.desk{
  width: 50%;
}
.plataformas /deep/ .mat-tab-label{
  height: 70px !important;
}
.plataformas /deep/ .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
  background-color: white !important;
}

.plataformas /deep/ .mat-tab-group{
  width: 75%;
  margin: 0px auto;
}
.plataformas /deep/ .mat-tab-header{
  border-bottom: none !important;
}
.plataformas /deep/ .mat-tab-group.mat-primary .mat-ink-bar:after {
  content: '' !important;
  margin: auto !important;
  position: absolute;
  left: 0;
  right: 0;
  width: 0;
  height: 0;
  bottom: -1px;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 10px solid white;
}
.plataformas /deep/ .mat-tab-group.mat-primary .mat-ink-bar{
  background:transparent !important;
}
.btn{
  text-align: right;
  padding-right: 45px;
}
.demo-tab-content{
  height: 500px;
}

.pai{
  height: 700px;
  width: 100%;
}
.btn-experi {
  background-color: #ff0099;
  color: white;
  border-radius: 5px;
}

.box-texto{
  width: 65%;
  margin: 10px auto;
  padding-left: 100px;
}

.box-texto2{
  width: 65%;
  margin-top: 9px;
  margin-bottom: 31px;
  text-decoration: none;
}
ul.none{
  list-style-type: none;
}
.box-icones{
  width: 75%;
}
.img-pac-fer{
  width: 62%;
  margin: 0px auto;
  display: block;
}
.img-maq{
  width: 100%;
}
.box-btn{
  text-align: center;
  width: 100%;
  padding-left: 80px;
}
.img-btn{
  width: 30%;
}
.texto-pla{
  text-align: justify;
  padding: 40px;
  color: #5f5f5f;
  font-size: 18px;
}
.titulo-maquinas{
  font-size: 24px;
  font-weight: 600;
}

.titulo_ferraments{
  padding-top: 10px;
  color: white;
  margin: 30px auto;
  padding-top: 10px;
  width: 33%;
  text-align: center;
  line-height: 33px;
  font-size: 24px;

}

