section{
  width: 100%;
  max-height: 1300px;
  min-height: 600px;
  height: 650px;
  background: white;
  margin: 0px auto;
}
.ferramentas{
  background: #009966;
  margin-top: 45px;
  margin-bottom: 16px;
  padding-top: 10px;
  position: relative;
  width: 100%;
}
.titulo_ferraments{
  padding-top: 10px;
  color: white;
  margin: 30px auto;
  padding-top: 10px;
  width: 33%;
  text-align: center;
  line-height: 33px;
  font-size: 24px;

}
mat-tab-group{
   width: 75%;
   margin: 0px auto;
}
.card-content{
   background: #009966;
   margin-top: -31px;
  padding-top: 20px;
 }
.tab-desk /deep/ .mat-tab-group.mat-primary .mat-ink-bar:after {
  content: '' !important;
  margin: auto !important;
  position: absolute;
  left: 0;
  right: 0;
  width: 0;
  height: 0;
  bottom: -1px;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 10px solid white;
}
.tab-desk /deep/ .mat-tab-group.mat-primary .mat-ink-bar{
  background-color: #009966 !important;
}

.tab-desk /deep/ .mat-tab-label-container,
.tab-desk /deep/ .mat-tab-header{
  background: #009966 !important;
}

.tab-desk /deep/ .mat-tab-header{
  border-bottom: none !important;
}

.tab-desk /deep/ .mat-tab-label.mat-ripple{
  border-right: 1px solid #cacaca !important;

}

.tab-desk /deep/ .mat-tab-label{
  color: white !important;
  height: 60px !important;
}

.demo-tab-content{
  color: #5f5f5f;
  background: white;
  width: 99%;
}

.img_ingre{
  width: 90px;
  margin: 0px auto;
  display: block;
}
.titulo_ferraments{
  padding-top: 10px;
  color: white;
  width: 33%;
  text-align: center;
  line-height: 33px;
  font-size: 24px;

}
.ingre_titulo{
  text-align: center;
  font-size: 24px;
  margin: 16px auto;
  padding-top: 30px;
  color: #009966;
}

.box{
  background: white;
  margin-top: -16px;
}
.box-info{
  width: 400px;
  padding: 20px;
  color: #5f5f5f;
  font-size: 17px;
  text-align: left;
}
.box-info2{
  width: 50%;
  display: flex;
}
.box-info2 img{
  width: 50%;
}
.display{
  display: flex;
  justify-content: center;
}
ul.none{
  list-style-type: none;
}

.box-texto{
  width: 100%;
  margin: 12px auto;
  color: #5f5f5f;
  font-size: 17px;
  text-align: left;
}
.icones{
  margin: 10px;
}
.icones img {
  width: 80%;
  margin: 10px auto;
}




