section{
  width: 100%;
  max-height: 1300px;
  min-height: 700px;
  background: white;
  margin: 0px auto;
}
.ferramentas{
  background: #009966;
  margin-top: 15px;
  margin-bottom: 16px;
  padding-top: 10px;
  position: relative;
  width: 100%;
}
.titulo_ferraments{
  padding-top: 10px;
  color: white;
  margin: 30px auto;
  padding-top: 10px;
  text-align: center;
  line-height: 33px;
  font-size: 24px;

}
mat-tab-group{
   width: 750px;
   margin: 0px auto;
}
.card-content{
   background: #009966;
   margin-top: -31px;
  padding-top: 20px;
 }
.tab-desk /deep/ .mat-tab-group.mat-primary .mat-ink-bar:after {
  content: '' !important;
  margin: auto !important;
  position: absolute;
  left: 0;
  right: 0;
  width: 0;
  height: 0;
  bottom: -1px;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 10px solid white;
}
.tab-desk /deep/ .mat-tab-group.mat-primary .mat-ink-bar{
  background-color: #009966 !important;
}

.tab-desk /deep/ .mat-tab-label-container,
.tab-desk /deep/ .mat-tab-header{
  background: #009966 !important;
}

.tab-desk /deep/ .mat-tab-header{
  border-bottom: none !important;
}

.tab-desk /deep/ .mat-tab-label.mat-ripple{
  border-right: 1px solid #cacaca !important;

}

.tab-desk /deep/ .mat-tab-label{
  color: white !important;
  height: 60px !important;
  padding: 0 10px;
  min-width: 150px;
}
.tab-desk /deep/ .mat-tab-header-pagination-chevron {
  border-color: white;
}

.demo-tab-content{
  color: #5f5f5f;
  background: white;
  width: 99%;
}

.img_ingre{
  width: 90px;
  margin: 0px auto;
  display: block;
}
.titulo_ferraments{
  padding-top: 10px;
  color: white;
  text-align: center;
  line-height: 33px;
  font-size: 24px;

}
.ingre_titulo{
  text-align: center;
  font-size: 22px;
  margin: 16px auto;
  padding-top: 60px;
  color: #009966;
  margin-bottom: 0;
}

.box{
  background: white;
  margin-top: -16px;
}
.box-info{
  width: 400px;
  padding: 20px;
  color: #5f5f5f;
  font-size: 17px;
  text-align: left;
}
.box-info2{
  display: flex;
  align-items: flex-start;
}
.box-info2 img{
  margin-top: 18px;
  width: 50%;
}

.box-info3 {
  width: 800px;
}
.display{
  display: flex;
  justify-content: center;
}
.display2 {
  flex-direction: column;
  align-items: center;
}
ul.none{
  list-style-type: none;
}

.box-texto{
  width: 100%;
  margin: 12px auto;
  color: #5f5f5f;
  font-size: 14px;
  text-align: left;
  line-height: 20px;
  padding: 0;
}

.icones img {
  width: 100%;
  margin: 10px auto;
}

@media screen and (max-width: 970px){
  .box-texto{
    width: 80% !important;
  }
  .box-info{
    width: 70% !important;
  }
}

@media screen and (max-width: 775px){
  mat-tab-group{
    width: 100%;
  }
}



