<section>
  <div class="ferramentas">
    <p class="titulo_ferraments">Seus eventos e atividades Personalizados do jeito que você quiser</p>
  </div>
  <div class="card-content card-content-tabs tab-desk">
    <mat-tab-group [(selectedIndex)]="index">
      <mat-tab>
        <ng-template mat-tab-label>
          Seu ingresso
        </ng-template>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          Tipos de inscrições
        </ng-template>
      </mat-tab>
      <mat-tab>
      <ng-template mat-tab-label>
        Programações
      </ng-template>
    </mat-tab>
      <mat-tab>
      <ng-template mat-tab-label>
        Produtos e serviços
      </ng-template>
    </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          Pacotes
        </ng-template>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          Ferramentas
        </ng-template>
      </mat-tab>
    </mat-tab-group>

    <!--option -->
    <div class="box" *ngIf="index == 0">
      <p class="ingre_titulo">Seu ingresso será individual ou múltiplo?</p>
      <div class="display">
        <div class="box-info">
          <div>
            <img class="img_ingre" src="assets/img/ing%20ind.svg" alt="">
          </div>
          <div>
            <ul class="box-texto none">
              <li>Com ingressos individuais cada participante comprará seu próprio ingresso, criar seu próprio cadastro e você terá todas as informações de quem participará da sua da sua atividade. </li>
              <li>É uma ótima opção se você gostaria de ter o controle que quem participa da sua atividade e de proporcionar uma relação pessoal para cada participante</li>
              <li>Ideal para eventos e atividades acadêmica, profissionais, competições, passeios turísticos, entre outros….</li>
            </ul>
          </div>
        </div>
        <div class="box-info">
          <div>
            <img class="img_ingre" src="assets/img/ing%20mul.svg" alt="">
          </div>
          <div>
            <ul class="box-texto none">
              <li>Com ingressos individuais cada participante comprará seu próprio ingresso, criar seu próprio cadastro e você terá todas as informações de quem participará da sua da sua atividade. </li>
              <li>É uma ótima opção se você gostaria de ter o controle que quem participa da sua atividade e de proporcionar uma relação pessoal para cada participante</li>
              <li>Ideal para eventos e atividades acadêmica, profissionais, competições, passeios turísticos, entre outros….</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="box" *ngIf="index == 1">
      <p class="ingre_titulo">Crie tipos de inscrições e lotes de ingressos.</p>
      <div class="display">
        <div class="box-info">
          <div>
            <ul class="none">
            <li> Pensando em todos os tipos de evento e atividades a TicketPhone possibilita à você separar seus ingressos em TIPOS.</li>
            <li>  Separe seus ingressos em:.</li>
            <li>- Meia e Inteira;</li>
            <li> - Pista e Vip;</li>
            <li>- Lote 1, 2, 3;</li>
            <li>-Bennie and the jets, Your song e Rocket man.</li>
            <li> Do jeito que você quiser:
            Escolha os preõs de cada um dos lotes;
            As datas de lançamento;
            Quais programações, produtos, serviços e pacotes estão disponíveis para cada um dos tipos.</li>
            </ul>
          </div>
        </div>
        <div class="box-info icones">
          <div>
            <img  src="assets/img/01.svg" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="box"  *ngIf="index == 2">
      <p class="ingre_titulo">Venda experiências separadamente.</p>
      <div class="display">
        <div class="box-info">
          <div>
            <ul class="none">
            <li>Na TicketPhone você não precisa criar um evento para vender programações separadamente.</li>
            <li>Crie a programação do seu evento e venda cada uma delas individualmente.
            Ou crie uma programação principal e disponibilize ao seu cliente adicionar atividades extras na hora da compra.
            </li>
            <li>*programação incluída automaticamente à compra do ingresso.</li>
            </ul>
          </div>
        </div>
        <div class="box-info icones">
          <div>
            <img src="assets/img/02.svg" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="box" *ngIf="index == 3">
      <p class="ingre_titulo">Venda produtos e serviços.</p>
      <div class="display">
        <div class="box-info">
          <div>
            <ul class="none">
              <li>Não perca a oportunidade de vender.
                Além de seus ingressos e passes ofereça mais aos seus clientes.
              </li>
              <li> Já pensou em vender on-line camisas, copos decorativos, baldes de bebidas, kits, brindes, acesso aos camarins,
                serviço de transporte, de delivery, de guia, tradutor o que você quiser facilmente configurado.</li>
            </ul>
          </div>
        </div>
        <div class="box-info icones">
          <div>
            <img src="assets/img/03.svg" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="box" *ngIf="index == 4">
      <p class="ingre_titulo">E que tal vender pacotes?</p>
      <div class="display">
        <div class="box-info">
          <div>
            <ul class="none">
              <li>Crie pacotes com seus ingressos, programações, produtos e serviços.</li>
              <li>Agrupe e crie preços promocionais para estimular suas vendas.</li>
              <li>
                <strong>
                  Pacotes Fixo
                </strong>
              </li>
              <li> Um grupo de itens vendidos em conjunto.</li>
              <li>
                <strong>
                  Pacotes personalizados
                </strong>
              </li>
              <li>
                Um grupo de itens onde o participante pode selecionar um número determinado de itens do pacote. Ex:
              </li>
              <li>
                Pacote 1- Selecione 2 palestra:
              </li>
              <li>
                -Palestra 1
              </li>
              <li>
                -Palestra 2
              </li>
              <li>
                -Palestra 3
              </li>
              <li>
                -Palestra 4
              </li>
            </ul>
          </div>
        </div>
        <div class="box-info2">
            <img class="img-pac-fer" src="assets/img/06.svg" alt="">
            <img class="img-pac-fer" src="assets/img/07.svg" alt="">
        </div>
      </div>
    </div>
    <div class="box" *ngIf="index == 5">
      <p class="ingre_titulo">Ferramentas.</p>
      <div class="display">
        <div class="box-info">
          <div>
            <ul class="none">
              <li>Pensando em atender todos os tipos de eventos e atividades a TicketPhone criou ferramentas especiais para
                você utilizar no seu evento. Encontradas nas configurações das atividades ou para serem utilizadas durante ou após a atividade pelo desktop e aplicativos.</li>
            </ul>
          </div>
        </div>
        <div class="box-info  icones">
          <img src="../../../assets/img/FERRA%20cópia@2x.png" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
