<mat-card  class="plataformas">
  <div class="text-card">
    <p class="titulo">
      Plataformas Integradas
    </p>
    <p class="sub-text">
      Gerencie de qualquer lugar e On-line e Off-line
    </p>
  </div>
  <div class="card-tabs">
    <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label>
          <p>Web</p>
        </ng-template>
        <div class="demo-tab-content">
          <p class="text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue.
            Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus.
            In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec,
          </p>
          <div>
            <img class="img-mob" src="assets/img/desktop.png" alt="">
          </div>
          <div class="butn">
            <mat-button-toggle class="btn-experi">Experimente Agora</mat-button-toggle>
          </div>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <p>Aplicativos</p>
        </ng-template>
        <div class="demo-tab-content">
          <p class="text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue.
            Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus.
            In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec,
          </p>
          <div class="margin">
            <div>
              <img class="img-mob" src="assets/img/app azul.png" alt="">
            </div>
            <div class="butn">
              <mat-button-toggle class="btn-experi">Experimente Agora</mat-button-toggle>
            </div>
          </div>
          <div class="margin">
            <div>
              <img class="img-mob" src="assets/img/app verde.png" alt="">
            </div>
            <div class="butn">
              <mat-button-toggle class="btn-experi">Experimente Agora</mat-button-toggle>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <p>Maquininha</p>
        </ng-template>
        <div class="demo-tab-content">
          <div>
           <p class="nome-maq">Completa TicketPhone</p>
          </div>
          <div class="margin">
            <div>
              <img class="img-maq" src="assets/img/maq.png" alt="">
            </div>
          </div>
          <div>
            <p class="nome-maq">Compacta TicketPhone</p>
          </div>
          <div class="margin">
            <div>
              <img class="img-maq" src="assets/img/maq2.png" alt="">
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</mat-card>
