 /*////////////// TELA GRANDE//////////*/
/*@media screen and (max-width: 1768px){*/
  /*.tabPanel-widget label:nth-child(1),*/
  /*.tabPanel-widget h2:nth-child(3) {*/
    /*left: 14em;*/
  /*}*/

  /*.tabPanel-widget label:nth-child(5),*/
  /*.tabPanel-widget h2:nth-child(7) {*/
    /*left: 27em;*/
  /*}*/

  /*.tabPanel-widget label:nth-child(9),*/
  /*.tabPanel-widget h2:nth-child(11) {*/
    /*left: 40em;*/
  /*}*/
  /*.tabPanel-widget label:nth-child(13),*/
  /*.tabPanel-widget h2:nth-child(15) {*/
    /*left: 55em;*/
  /*}*/
  /*.tabPanel-widget label:nth-child(17),*/
  /*.tabPanel-widget h2:nth-child(19) {*/
    /*left: 68em;*/
  /*}*/
  /*.tabPanel-widget label:nth-child(21),*/
  /*.tabPanel-widget h2:nth-child(23) {*/
    /*left: 80em;*/
  /*}*/

/*}*/
 /*////////////// TELA MÉDIA//////////*/
/*@media screen and (max-width: 1326px){*/
  /*.tabPanel-widget label:nth-child(1),*/
  /*.tabPanel-widget h2:nth-child(3) {*/
    /*left: 10em;*/
  /*}*/

  /*.tabPanel-widget label:nth-child(5),*/
  /*.tabPanel-widget h2:nth-child(7) {*/
    /*left: 24em;*/
  /*}*/

  /*.tabPanel-widget label:nth-child(9),*/
  /*.tabPanel-widget h2:nth-child(11) {*/
    /*left: 37em;*/
  /*}*/
  /*.tabPanel-widget label:nth-child(13),*/
  /*.tabPanel-widget h2:nth-child(15) {*/
    /*left: 51em;*/
  /*}*/
  /*.tabPanel-widget label:nth-child(17),*/
  /*.tabPanel-widget h2:nth-child(19) {*/
    /*left: 62em;*/
  /*}*/
  /*.tabPanel-widget label:nth-child(21),*/
  /*.tabPanel-widget h2:nth-child(23) {*/
    /*left: 74em;*/
  /*}*/
 /*}*/
 /*////////////// TELA MOBILE//////////*/
 @media screen and (max-width: 45em) {
  .send-message{
    bottom: 110px;
  }
   #menu-desk{
     display: none;
   }
   #menu-mob{
     display: block;
     width: 40%;
     text-align: right;
   }
   #desk{
     display: none;
   }
   #desk-tabs{
     display: none;
   }
   #card-desk{
     display: none;
   }
   #card-mob{
     display: block;
   }
   #mobile-tabs{
     display: block;
   }
   .box_card{
     display: none;
   }
   .esconde{
     display: block;
   }
   app-tabs-desktop{
     display: none;
   }
   .mostra{
     display: none;
   }
   /deep/#cdk-overlay-0{
     top: 51px !important;
     right: 0 !important;
   }

   .titulo_ferraments{
     width: 70%;
   }

   /*Sessão card*/
   .sessao-card .titulo_s1{
     width: 83%;
   }
   .sessao-card .sub_s1{
     width: 54%;
   }

   /*Menu*/
   .organizador{
     display: none;
   }
   .logo{
     padding-left: 10px;
   }
   .mat-icon-button {
     padding: 0;
     min-width: 0;
     width: 70px;
     height: 70px;
     flex-shrink: 0;
     line-height: 40px;
     border-radius: 50%;
   }

   app-ferramentas-desktop{
     display: none;
   }
   app-ferramentas{
     display: block;
   }


 }

 @media screen and (max-width: 900px){
   .box_card {
     padding: 0px
   }
 }

