@font-face {
  font-family: helvetica-regular;
  src: url("../../assets/fonts/helvetica-regular.ttf");
}
* {
  font-family: helvetica-regular;
}
.esquerda{
  text-align: right;
}


.responsive-img{
  width: 100%;
}

/*/////////////menu///////////////*/
#menu{
  min-width: 100%;
  position: fixed;
  z-index: 90;
}
.logo{
  width: auto;
}
.brand-logo{
  width:10%;
}
nav{
  background: white;
}
.MENU {
  display: flex;
  justify-content: space-between;
  padding: 0px;
  }
.menu-ul{
  text-decoration: none;
  width: 50%;
  padding: 0px;
  display: flex;
  justify-content: space-around;
  margin: 0px;
}
.organizador{
  width: 19%;
  padding: 20px;
  text-align: left;
}
.organizador > a {
  color: #5f5f5f;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}
.organizador > a:hover{
  color: #009966;
}

.box-menu{
  display: flex;
  justify-content: center;
  width: 18%;
   align-items: center;
}
.box-menu a{
  text-decoration: none;
  color: rgba(95, 95, 95, 0.89);
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}
.box-menu:hover {
  border: 1px solid #009966;
  color: #009966;
}
.box-menu a:hover {
  color: #009966;
  background: transparent;
}

/*/////////////BANNERS///////////*/
.banner-apre{
  background-image: url("../../assets/img/banner1.jpg");
  background-size: cover;
  background-position: center;
  height: 380px;
}


/*///////////////Card Login//////////////////*/
.login{
  width: 350px;
  position: absolute;
  z-index: 90;
  right: 390px;
  margin-top: 0px;
  text-align: center;
  top: 70px;
}
.login-card{
  border-radius: 0px 0px 10px 10px;
  height: auto;
}

/*///////////////////Slider//////////////////////////*/
header{
  height:500px;
  background-image: url("../../assets/img/1.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#sessao1{
  background-image: url("../../assets/img/desafio.jpg");
  background-size: cover;
  background-position: center;
}

.slide {
  height: 174px;
  width: 100%;
  padding-bottom: 30px;
}

/*/////////////Sessao tabs personalizar//////////////////*/
.section{
  width: 100%;
  background: red;
  /*max-height: 1300px;*/
  min-height: 600px;
  /*height: 650px;*/
  background: white;
  margin: 0px auto;
}


.ingre_titulo{
  text-align: center;
  font-size: 24px;
  color: #009966 !important;
}
.img_ingre{
  width: 90px;
  margin: 0px auto;
  display: block;
}

.box_ingre_text{
  color: #808080;
  text-align: justify;
  padding: 20px;
  width: 100%;
  margin: 0px auto;
}

.indi{
  float: right;
  border-right: 1px solid #cacaca;
}
.mult{
  float: left;
}
.card .card-content-tabs{
  padding: 0px;
}


/*//////////////////////////Sessão cards//////////////////////////*/
.sessao-card{
  padding-bottom: 30px;
}
.sessao-card .titulo_s1{
  width: 52%;
  display: block;
  color: #5f5f5f;
  font-weight: normal;
  text-align: center;
  margin: 0px auto;
 padding-top: 30px;
  padding-bottom: 10px;
  font-size: 35px;
}
.sessao-card .sub_s1{
  margin: 0px auto;
  width: 32%;
  text-align: center;
  font-size: 18px;
  color: #5f5f5fd4;
  padding-bottom: 40px;
}
.box_card{
  display: flex;
  margin: auto;
  padding: 0px 40px;
  max-width: 1150px;
  justify-content: space-around;
}
.boox {
  width: 30%;
  margin-bottom: 130px;
  min-height: 280px;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-size: cover;
}
.box-card1{
  background-image: url("../../assets/img/Prancheta 1.jpg");
}
.box-card2{
  background-image: url("../../assets/img/Prancheta 3.jpg");
}
.box-card3{
  background-image: url("../../assets/img/Prancheta 2.jpg");
}
.texto-card{
  padding-left: 10px;
  color: #5f5f5f;
}
.cards{
  top: 150px;
  background: white;
  width:77%;
  padding: 10px;
  margin: auto;
  border-radius: 20px;
  min-height: 215px;
}

.det{
  background-image: url("../../assets/img/det verde.svg");
  background-repeat: repeat;
  background-size: cover;
  background-position: bottom;
  position: absolute;
  top: 0;
  width: 100%;
  height: 40px;
  margin-top: -34px;
}

.box-card .card .card-title p{
  margin: -20px auto;
  text-align: left;
  padding-left: 25px;
  padding-top: 15px;
}
.titulo_card-azul{color: #0066cc; padding-left: 10px; margin: 3px; font-weight: bold; font-size: 17px; padding-top: 10px;}
.titulo_card-rosa{color: #ff0099; padding-left: 10px; margin: 3px;}
.titulo_card-verde{color:#009966; padding-left: 10px; margin: 3px;}

.titulo_card-verde,
.titulo_card-rosa,
.titulo_card-azul p{
  font-size: 17px;
  font-weight: bold;
  padding-top: 10px;
}
.box-card .card-content p {
 text-align: justify;
  width: 90%;
}


/*//////////////IMAGEM ////////////////QR */
.qrimagem{
  width: 100%;
  position: relative;
  top: -20px;
}
.qr-box{
  padding-bottom: 40px;
}

/*///////////////////footer///////////////////////////////*/
.page-footer{
  position: relative;
  background: #4d4d4d;
  color: white;
  padding: 20px;
}

.Titulo-footer{
  font-size: 18px;
  margin: 0px;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.38);
}

.lista{
  font-size: 12px;
  margin: 0px !important;
  color: #9b9b9b;
}
.row{
  margin-bottom: 0px;
}
.linha_baixo{
  border-top: 1px solid #5d5d5d;
  margin-top: 10px;

}
.row_contact{
  margin-bottom: 30px;
}
.logo_footer{
  width: 80%;
}

.texto_linha_baixo{
  text-align: center;
  color: #9b9b9b;;
}
.texto_linha_baixo p{
   margin: 0px;
  padding-top: 10px;
}

.linha-esquerda{
  border-right: 1px solid #5d5d5d;
  height: 320px;
}
.contato{
  font-size: 18px;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.38);
  margin: 2px;
}
.text_contato{
  margin: 0px;
}

.icones{
  margin: 10px;
}
.icones img {
  width: 40px;
}


/*////////////////Mensagem///////////////*/
.mensagem{
  position: absolute;
  z-index: 17;
  bottom: 0;
  right: 0;
  width: 30%;
  margin: 0px 20px;
}
.header{
  width: 100%;
  height: 40px;
  border-radius: 10px 10px 0px 0px;
  padding: 10px;
  text-align: center;
  font-size: 16px;
  background: #0066cc;
}
.conteudo{
  display: none;
  background: white;
  padding: 20px;
}
.forms_titulo{
  color: #5f5f5fb0;;
  margin: 0px;
}

.forms_contat::-webkit-input-placeholder {
  color: #5f5f5f;
}
/*/////////Text area/////////////*/
textarea.materialize-textarea{
  color: #5f5f5f;
}

/* /////// mandar mensagem by vinicius ///// */

.send-message{
  z-index: 100;
  width: 150px;
  border-radius: 5px;
  height: 120px;
  top:55%;
  position: fixed;
  background: white;
  right: 0px;
  box-shadow: 0px 0px 6px 0px #0000004d;
}
.send-message button{
  color: #ff0099;
  padding: 10px;
  border: none;
  font-size: 14px;
  background-color: #ffffff;
  position: absolute;
  bottom: 5px;
  right: calc(50% - 58px);
  border-radius: 10px;
  cursor: pointer;
}
.send-message .suporte {
  width: 50px;
  position: absolute;
  left: calc(50% - 25px);
  top: calc(50% - 47px);
}

/*//////////// SEÇÃO PLATFORMAS*/
.plataformas {
  background:linear-gradient(135deg,#009966,#007F9B ) ;
}
.titulo-plat,.sub-plat{
  color: white;
}

.titulo-plat{
  width: 20%;
}
.imagens-plat{
  width: 115px;
}
.box{
  display: flex;
  width: 100%;
}
.box-plat-esquer{
  width: 30%;
}
.box-plat-direita{
  width: 70%;
}

/*/////////////////////////TABS FEITO COM CSS /////////////////////*/
.tabPanel-widget {
  position: relative;
  background: #009966;
}

.tabPanel-widget > label {
  position: absolute;
  z-index: 1;
}

.tabPanel-widget > label,
.tabPanel-widget > h2 {
  font-size: 15px;
  width: 13%;
  height: 3em;
  font-weight: 400;
  line-height: 3em;
}

.tabPanel-widget > h2 {
  position: relative;
  margin: 0;
  text-align: center;
  background: #009966;
  color: #fff;
}

.tabPanel-widget > label {
  border-right: 1px solid #ffffff80;
}

.tabPanel-widget > label ~ label,
.tabPanel-widget > h2 ~ h2 {
  position: absolute;
  top: 0;
}

.tabPanel-widget label:nth-child(1),
.tabPanel-widget h2:nth-child(3) {
  left: 14em;
}

.tabPanel-widget label:nth-child(5),
.tabPanel-widget h2:nth-child(7) {
  left: 25em;
}

.tabPanel-widget label:nth-child(9),
.tabPanel-widget h2:nth-child(11) {
  left: 36em;
}
.tabPanel-widget label:nth-child(13),
.tabPanel-widget h2:nth-child(15) {
  left: 47em;
}
.tabPanel-widget label:nth-child(17),
.tabPanel-widget h2:nth-child(19) {
  left: 58em;
}
.tabPanel-widget label:nth-child(21),
.tabPanel-widget h2:nth-child(23) {
  left: 68em;
}

.tabPanel-widget input + h2 + div {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding:0 !important;
  border:0 !important;
  height: 500px !important;
  width: 1px !important;
  overflow: hidden;
}

.tabPanel-widget input:checked + h2 + div {
  position: static !important;
  padding: 1em !important;
  height: 500px !important;
  width: auto !important;
}

.tabPanel-widget label:hover {
  cursor: pointer;
}

.tabPanel-widget > div {
  background: #f0f0f0;
  padding: 1em;
}

.tabPanel-widget input[name="tabs"] {
  opacity: 0;
  position: absolute;
}

.tabPanel-widget:hover h2 {
  outline: none !important;
}

.tabPanel-widget input[name="tabs"]:checked + h2 {
  background:#009966;
}

.tabPanel-widget input[name="tabs"]:checked + h2:after {
  content: '';
  margin: auto;
  position: absolute;
  bottom: -17px;
  left: 0;
  right: 0;
  width: 0;
  height: 0;
  border-left: 17px solid transparent;
  border-right: 17px solid transparent;
  border-top: 17px solid #009966;
}

/*@media screen and (max-width: 45em) {*/
  /*.tabPanel-widget label,*/
  /*.tabPanel-widget input[name="tabs"] {*/
    /*display: none;*/
  /*}*/
  /*.tabPanel-widget > input + h2 + div {*/
    /*display: block !important;*/
    /*position: static !important;*/
    /*padding: 1em !important;*/
    /*height: auto !important;*/
    /*width: auto !important;*/
  /*}*/

  /*.tabPanel-widget h2 {*/
    /*width: auto;*/
    /*position: static !important;*/
    /*background: #009966 !important;*/
  /*}*/
  /*.tabPanel-widget h2:after {*/
    /*display: none !important;*/
  /*}*/
/*}*/
/*MOBILE ESCODENDO DIV */
#desafio-mobile{
  display: none;
}

#card-mob{
  display: none;
}

#menu-mob{
  display: none;
}
#mob{
  display: none;
}
#card-mob{
  display: none;
}
#mobile-tabs{
  display: none;
}
app-tabs{
  display: none;
}
.esconde{
  display: none;
}
/* --------------------------- formas de pagamento by vinicius ------------------------- */
