
<!--Menu-->
<div>
  <nav>
    <mat-card  class="MENU">
      <a href="#" class="brand-logo"><img class="logo" src="../../assets/img/logo-azul.svg" alt="ticketphone"></a>
      <p class="organizador">Organizador</p>
      <ul  class="menu-ul">
        <li class="box-menu"><a href="badges.html">Vantagens</a></li>
        <li class="box-menu" (click)="Mostra()" ><a>Login</a></li>
        <li class="box-menu"><a href="#">Prestadores de serviços</a></li>
        <li class="box-menu"><a href="#">Valores e termos</a></li>
        <li class="box-menu"><a href="#">Quem somos</a></li>
      </ul>
    </mat-card>
  </nav>
</div>


<!--LOGIN CARD-->
<!--<div *ngIf="!show" class="login">-->
  <!--<div class="card login-card">-->
    <!--<form>-->
      <!--<input placeholder="CPF" id="cpf" type="number" class="campo-forms">-->
      <!--<input placeholder="Senha" id="senha" type="password" class="campo-forms">-->
    <!--</form>-->
     <!--<div class="botoes">-->

       <!--<a class="waves-effect waves-light btn btn-entrar">Entrar</a>-->
     <!--</div>-->
    <!--<div class="links">-->
      <!--<a href="#">Ainda não possui cadastro ?</a>-->
      <!--<a href="#">Esqueceu a senha?</a>-->
    <!--</div>-->
<!--</div>-->
<!--</div>-->

  <!-- slider-->
  <header>
  </header>

  <img class="responsive-img" src="../../assets/img/desafio.jpg">

  <!--Seção de cards-->
<section class="sessao-card">
    <div class="section">
      <div class="center-align">
        <p class="titulo_s1">Somos uma plataforma completa para a organização
          e vendas de ingresso
        </p>
        <p class="sub_s1">
          Crie e acompanhe todo o seu evento em tempo real,
          pelo desktop, smatphone ou tablet.
        </p>
          <mat-grid-list cols="3">
            <mat-grid-tile>
            <div class="box-card">
              <mat-card class="cards">
                <mat-card-title  class=" titulo_card-verde"><p>Simples e fácil</p></mat-card-title>
                  <mat-card-content>
                    <p>
                      Crie e organize todo o seu evento de qualquer lugar, com facilidade e segurança.
                      Desde a criação do evento à vendas.
                      Controle e gerencie suas tarefas em utilizando nosso
                      Check-list pelo desktop e aplicativo.
                    </p>
                    </mat-card-content>
              </mat-card>
             </div>
            </mat-grid-tile>
          <mat-grid-tile>
            <div class="box-card">
              <mat-card class="cards">
                <mat-card-title  class="titulo_card-rosa"><p>Simples e fácil</p></mat-card-title>
                <mat-card-content>
                  <p>
                    Crie e organize todo o seu evento de qualquer lugar, com facilidade e segurança.
                    Desde a criação do evento à vendas.
                    Controle e gerencie suas tarefas em utilizando nosso
                    Check-list pelo desktop e aplicativo.
                  </p>
                </mat-card-content>
              </mat-card>
             </div>
            </mat-grid-tile>
          <mat-grid-tile>
              <div class="box-card">
                <mat-card class="cards">
                  <mat-card-title  class="titulo_card-azul"><p>Simples e fácil</p></mat-card-title>
                  <mat-card-content>
                    <p>
                      Crie e organize todo o seu evento de qualquer lugar, com facilidade e segurança.
                      Desde a criação do evento à vendas.
                      Controle e gerencie suas tarefas em utilizando nosso
                      Check-list pelo desktop e aplicativo.
                    </p>
                  </mat-card-content>
                </mat-card></div>
            </mat-grid-tile>
        </mat-grid-list>
      </div>
    </div>
  </section>


  <!--Seleção tabs-->
  <div class="ferramentas">
    <div class="det">
    </div>
      <p class="titulo_ferraments">Seus eventos e atividades Personalizados do jeito que você quiser</p>

    <div class="card-content card-content-tabs">
      <div class="tabPanel-widget">
        <label for="tab-1" tabindex="0"></label>
        <input id="tab-1" type="radio" name="tabs" checked="true" aria-hidden="true">
        <h2>Seu ingresso</h2>
        <div>
          <div class="box_ferramentas">
            <div id="ingre" class="row">
              <p class="ingre_titulo">Seu Ingresso será individual ou múltiplo ?</p>
              <mat-grid-list cols="2" rowHeight="2:1">
                <mat-grid-tile>
                  <div class="box_ingre_text indi">
                    <img class="img_ingre" src="../../assets/img/ing%20ind.svg" alt="">
                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                      dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                      Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                  </div>
                </mat-grid-tile>
                <mat-grid-tile>
                  <div class="box_ingre_text mult">
                    <img class="img_ingre" src="../../assets/img/ing%20mul.svg" alt="">
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                      dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                      Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>

                    </div>
                  </mat-grid-tile>
              </mat-grid-list>
            </div>
          </div>
        </div>
        <label for="tab-2" tabindex="0"></label>
        <input id="tab-2" type="radio" name="tabs" aria-hidden="true">
        <h2>Tipos de inscrições</h2>
        <div>
          <p>Represents a generic document or application section. In this context, a section is a thematic grouping of content, typically with a header, possibly with a footer. Examples include chapters in a book, the various tabbed pages in a tabbed dialog box, or the numbered sections of a thesis. A web site's home page could be split into sections for an introduction, news items, contact information.</p>
          <p>Source: <a href="http://html5doctor.com/element-index/">html5doctor</a> for Section</p>
        </div>
        <label for="tab-3" tabindex="0"></label>
        <input id="tab-3" type="radio" name="tabs" aria-hidden="true">
        <h2>Programações</h2>
        <div>
          <p>The source element allows authors to specify multiple alternative media resources for media elements. It does not represent anything on its own. The src attribute gives the address of the media resource. The value must be a valid non-empty URL potentially surrounded by spaces. This attribute must be present.</p>
          <p>Source: <a href="http://html5doctor.com/element-index/">html5doctor</a> for Source</p>
        </div>
        <label for="tab-4" tabindex="0"></label>
        <input id="tab-4" type="radio" name="tabs" aria-hidden="true">
        <h2>Produtos e serviços</h2>
        <div>
          <p>The source element allows authors to specify multiple alternative media resources for media elements. It does not represent anything on its own. The src attribute gives the address of the media resource. The value must be a valid non-empty URL potentially surrounded by spaces. This attribute must be present.</p>
          <p>Source: <a href="http://html5doctor.com/element-index/">html5doctor</a> for Source</p>
        </div>
        <label for="tab-5" tabindex="0"></label>
        <input id="tab-5" type="radio" name="tabs" aria-hidden="true">
        <h2>Pacotes</h2>
        <div>
          <p>The source element allows authors to specify multiple alternative media resources for media elements. It does not represent anything on its own. The src attribute gives the address of the media resource. The value must be a valid non-empty URL potentially surrounded by spaces. This attribute must be present.</p>
          <p>Source: <a href="http://html5doctor.com/element-index/">html5doctor</a> for Source</p>
        </div>
        <label for="tab-6" tabindex="0"></label>
        <input id="tab-6" type="radio" name="tabs" aria-hidden="true">
        <h2>Ferramentas</h2>
        <div>
          <p>The source element allows authors to specify multiple alternative media resources for media elements. It does not represent anything on its own. The src attribute gives the address of the media resource. The value must be a valid non-empty URL potentially surrounded by spaces. This attribute must be present.</p>
          <p>Source: <a href="http://html5doctor.com/element-index/">html5doctor</a> for Source</p>
        </div>
      </div>
    </div>
  </div>

  <!--QRCODE IMAGEM-->
  <div>
    <img  class="qrimagem responsive-img" src="../../assets/img/ingressoqr.jpg" alt="">
  </div>

  <!--Seção plataformas -->
  <mat-card class="plataformas">
    <div class="box">
      <div class="box-plat-esquer">
        <h5 class="titulo-plat">Plataforma
          Integrada</h5>
        <p class="sub-plat">
          Gerencie de qualquer lugar
          on-line e off-line
        </p>
      </div>
      <div class="box-plat-direita">
        <img class="imagens-plat" src="../../assets/img/web.svg" alt="">
        <img class="imagens-plat" src="../../assets/img/tab%20e%20sm.svg" alt="">
        <img  class="imagens-plat" src="../../assets/img/maq%20ticketp.svg" alt="">
      </div>
    </div>
</mat-card>

<!--&lt;!&ndash; formas de pagamento &ndash;&gt;-->
<!--<div class="formas-pagamento">-->
  <!--<div class="header">-->
    <!--<div class="left">-->
      <!--<div class="texto">-->
        <!--<p>On-line</p>-->
        <!--<p>Cartão de crédito</p>-->
        <!--<p>Cartão de débito</p>-->
        <!--<p>Transferência bancária*</p>-->
        <!--<p>Boleto</p>-->
      <!--</div>-->
      <!--<div class="imagem">-->
        <!--<img src="../../assets/img/"-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="right">-->

    <!--</div>-->
  <!--</div>-->
  <!--<div class="cols">-->
    <!--<div class="col1">-->

    <!--</div>-->
    <!--<div class="col2">-->

    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<!-- mande uma mensagem -->
<div class="send-message">
  <img class="onda" src="../../assets/img/det-branco.svg">
  <div class="imagem">
    <img class="responsive-img" src="../../assets/img/ingressoqr.jpg">
  </div>
  <div class="texto">
    <div>
      <p>Você tem alguma dúvida?</p>
      <p>Fale com a gente e conheça porquê a TicketPhone é a melhor opção para seu evento e atividade</p>
    </div>

  </div>
  <img class="suporte" src="../../assets/img/suporte.svg">
  <button (click)="openDialog()">Fale conosco</button>
</div>
s

<!--RODAPÉ-->
  <!--<footer class="page-footer">-->
    <!--<mat-grid-list cols="10">-->
      <!--<mat-grid-tile>-->
        <!--<p class="Titulo-footer">Conheça a TicketPhone</p>-->
        <!--<div>-->
          <!--<p *ngFor="let list1 of lista1" class="lista">{{list1}}</p>-->
        <!--</div>-->
      <!--</mat-grid-tile>-->

      <!--<mat-grid-tile>-->
        <!--<p class="Titulo-footer">Crie e Organize atividades únicas</p>-->
        <!--<div>-->
          <!--<p *ngFor="let list2 of lista2" class="lista">{{list2}}</p>-->
        <!--</div>-->
      <!--</mat-grid-tile>-->

      <!--<mat-grid-tile>-->
        <!--<p class="Titulo-footer">Vendas de qualquer lugar</p>-->
        <!--<div>-->
          <!--<p *ngFor="let list3 of lista3" class="lista">{{list3}}</p>-->
        <!--</div>-->
      <!--</mat-grid-tile>-->

      <!--<mat-grid-tile>-->
        <!--<div class="linha-esquerda">-->
          <!--<p class="Titulo-footer">Plataforma completa integrada</p>-->
          <!--<div>-->
            <!--<p *ngFor="let list4 of lista4" class="lista">{{list4}}</p>-->
          <!--</div>-->
        <!--</div>-->
      <!--</mat-grid-tile>-->


        <!--<div class="col s4">-->
            <!--<div class="row row_contact">-->
             <!--<div class="col s6 m6">-->
               <!--<img class="logo_footer" src="../../assets/img/logo.svg" alt="">-->
             <!--</div>-->
              <!--<div class="col s6 m6">-->
                <!--<div class="icones">-->
                  <!--<img src="../../assets/img/face.svg" alt="">-->
                  <!--<img src="../../assets/img/insta.svg" alt="">-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--<div class="row">-->
            <!--<div>-->
              <!--<p class="contato">Contato</p>-->
              <!--<p class="text_contato">(95)3624-4321</p>-->
              <!--<p class="text_contato">Boa Vista-RR,Sebastião Diniz, 222 - Centro</p>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="row">-->

          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--<div class="row linha_baixo">-->
      <!--<div class="col s8">-->
        <!--<div class="texto_linha_baixo">-->
          <!--<p>TicketPhone é operado por Ideias & Negócios Assesoria Empressarial LTDA-EPP</p>-->
          <!--<p>CNPJ: 04.803.710/0001-00</p>-->
        <!--</div>-->
      <!--</div>-->
      <!--&lt;!&ndash;Mensagem box&ndash;&gt;-->
        <!--<div id="mensagem" class="mensagem">-->
          <!--<div class="header">Mandar Mensagem</div>-->
          <!--<div class="conteudo">-->
            <!--<select class="select2"   materialize="material_select"[materializeSelectOptions]="selectOptions" >-->
              <!--<option *ngFor="let option of assustos" [value]="option.value">{{option.name}}</option>-->
            <!--</select>-->
              <!--<p class="forms_titulo">Nome <span style="color:#ff0099">*</span></p>-->
              <!--<input id="nome" type="text" class="validate forms_contat">-->

              <!--<p class="forms_titulo">Email<span style="color:#ff0099">*</span></p>-->
              <!--<input  id="email" type="text" class="validate forms_contat">-->

              <!--<p class="forms_titulo">Telefone<span style="color:#ff0099">*</span></p>-->
              <!--<input  id="telefone" type="text" class="validate forms_contat">-->

              <!--<p class="forms_titulo">Mensagem</p>-->
              <!--<textarea id="textarea1" class="materialize-textarea"></textarea>-->

             <!--<div class="right-align">-->
               <!--<a class="waves-effect waves-light btn btn_enviar">Enviar</a>-->
             <!--</div>-->
          <!--</div>-->
        <!--</div>-->

    <!--</mat-grid-list>-->
  <!--</footer>-->

