
<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo"><img class="logo" src="../../assets/img/logo.svg" alt="ticketphone"></a>
    <p class="organizador">Organizador</p>
    <ul  class="right hide-on-med-and-down">
      <li><a href="badges.html">Vantagens</a></li>
      <li (click)="Mostra()" ><a>Login</a></li>
      <li><a href="#">Prestadores de serviços</a></li>
      <li><a href="#">Valores e termos</a></li>
      <li><a href="#">Quem somos</a></li>
    </ul>
  </div>
</nav>

<!-- Campo login-->
<div *ngIf="!show" class="login">
  <mat-card class="login-card">
    <form>
      <input placeholder="CPF" id="cpf" type="number" class="campo-forms">
      <input placeholder="Senha" id="senha" type="password" class="campo-forms">
    </form>
     <div class="botoes">
       <button mat-button>Entrar</button>
     </div>
    <div class="links">
      <a href="#">Ainda não possui cadastro ?</a>
      <a href="#">Esqueceu a senha?</a>
    </div>
  </mat-card>
</div>

<!-- slider-->
<header>
</header>

<!--RODAPÉ-->
  <footer class="page-footer">
      <div class="row">
        <div class="col s2">
         <p class="Titulo-footer">Conheça a TicketPhone</p>
          <div>
            <p *ngFor="let list1 of lista1" class="lista">{{list1}}</p>
          </div>
        </div>
        <div class="col s2">
          <p class="Titulo-footer">Crie e Organize atividades únicas</p>
          <div>
            <p *ngFor="let list2 of lista2" class="lista">{{list2}}</p>
          </div>
        </div>
        <div class="col s2">
          <p class="Titulo-footer">Vendas de qualquer lugar</p>
          <div>
            <p *ngFor="let list3 of lista3" class="lista">{{list3}}</p>
          </div>
        </div>
        <div class="col s2">
          <div class="linha-esquerda">
            <p class="Titulo-footer">Plataforma completa integrada</p>
            <div>
s            </div>
          </div>
        </div>
        <div class="col s4">
            <p class="Titulo-footer">Conheça a TicketPhone</p>
        </div>
      </div>
    <div class="row linha_baixo">
      <div class="col s8">
        <div class="texto_linha_baixo">
          <p>TicketPhone é operado por Ideias & Negócios Assesoria Empressarial LTDA-EPP</p>
          <p>CNPJ: 04.803.710/0001-00</p>
        </div>
      </div>
      <div class="col s4">
        <button mat-button>Manda Mensagem</button>
      </div>
    </div>
  </footer>

