@font-face {
  font-family: helvetica-regular;
  src: url("../../assets/fonts/helvetica-regular.ttf");
}
* {
  font-family: helvetica-regular;
}
.logo{
  width:45%;
}
nav{
  background: white;
}
/*card menu*/
.mat-card{
  height: 70px;
  padding: 0px;
}
.MENU{
    display: flex;
    justify-content: space-between;
}
.titulo{
  text-align: center;
  font-size: 24px;
  color: rgba(95, 95, 95, 0.58);
  font-weight: 600;
  margin: 14px auto;
}
.titulo p{
  margin: 4px auto;
}
.box-logo{
  width: 10%;
  position: absolute;
  text-align: left;
}
/*ul{*/
  /*width: 66%;*/
  /*padding: 0px;*/
  /*display: flex;*/
  /*margin: 0px;*/
/*}*/
/*li{*/
  /*display: flex;*/
  /*justify-content: center;*/
  /*width: 18%;*/
  /*align-items: center;*/
/*}*/
.organizador{
  color: #5f5f5f;
  font-size: 24px;
  font-weight: 600;
  padding: 0px;
  position: absolute;
  top: -23px;
  left: 200px;
}
li a{
  text-decoration: none;
  color: rgba(95, 95, 95, 0.89);
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}
li:hover{
  /*background: linear-gradient(130deg, #33cc70,#009966);*/
  border: 1px solid #009966;
}
li a:hover{
  color: #009966;
}


/*Card Login*/
.login{
  width: 350px;
  position: absolute;
  right: 350px;
  margin-top: 0px;
  text-align: center;
}
.login-card{
  border-radius: 0px 0px 10px 10px;
  height: auto;
}

/*Botao*/
button{
  background-color: #ff0099;
  color: #ffffff;
  border-radius: 5px;
}
.botoes{
  padding-right: 60px;
  text-align: right;
}

.links{
  display: flex;
  padding: 10px;
  font-size: 13px;
  justify-content: space-between;
}
.links a{
  color: #b3b3b3;
}

/*Campo input*/
 input {
  border: none !important;
  border-radius: 5px !important ;
  padding: 5px 10px !important ;
  margin: 12px auto !important ;
  width: 70% !important;
  height: 1.5rem !important;
  color: #5f5f5f !important;
  text-align: center;
  font-size: 16px !important;
  font-weight: 400 !important;
  letter-spacing: 2px !important;
  background-color: rgba(179, 179, 179, 0.29) !important;
  clear: both !important;
}

.forms{
  text-align: center;
  margin-top: -20px;
  padding: 10px;
}
form{
padding: 15px;
}
/*Slider*/
header{
  height:500px;
  background-image: url("../../assets/img/1.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*footer*/
.page-footer{
  background: #4d4d4d;
  color: white;
}

.Titulo-footer{
  font-size: 20px;
  margin: 0px;
}

.lista{
  font-size: 13px;
  margin: 0px !important;
}
.row{
  margin-bottom: 0px;
}
.linha_baixo{
  border-top: 1px solid;
  margin: 10px;
  padding: 10px;
}

.texto_linha_baixo{
  text-align: center;
}
