@font-face {
  font-family: helvetica-regular;
  src: url("../../assets/fonts/helvetica-regular.ttf");
}
* {
  font-family: helvetica-regular;
}
.esquerda{
  text-align: right;
}


.responsive-img{
  width: 100%;
}

/*/////////////menu///////////////*/
#menu{
  min-width: 100%;
  position: fixed;
  z-index: 90;
}
.logo{
  width: auto;
}
.brand-logo{
  width: 140px;
}
nav{
  background: white;
}
.MENU {
  display: flex;
  justify-content: space-between;
  padding: 0px;
  }
.menu-ul{
  text-decoration: none;
  width: 50%;
  padding: 0px;
  display: flex;
  justify-content: space-around;
  margin: 0px;
}
.organizador{
  width: 19%;
  padding: 20px;
  text-align: left;
}
.organizador > a {
  color: #5f5f5f;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}
.organizador > a:hover{
  color: #009966;
}

.box-menu{
  display: flex;
  justify-content: center;
  width: 18%;
   align-items: center;
}
.box-menu a{
  text-decoration: none;
  color: rgba(95, 95, 95, 0.89);
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}
.box-menu:hover {
  border: 1px solid #009966;
  color: #009966;
}
.box-menu a:hover {
  color: #009966;
  background: transparent;
}

/*/////////////BANNERS///////////*/
.banner-apre{
  background-image: url("../../assets/img/banner1.jpg");
  background-size: cover;
  background-position: center;
  height: 420px;
}
.banner-apre img {
  width: 326px;
  margin: 0px auto;
  padding-top: 155px;
  display: block;
}
.btn-experi {
  background-color: #ff0099;
  color: white;
  border-radius: 5px;
  margin-right: 20px;
}
.btn-banner{
  width: 140px;
  margin: 0px auto;
}


/*///////////////Card Login//////////////////*/
.login{
  width: 350px;
  position: absolute;
  z-index: 90;
  right: 390px;
  margin-top: 0px;
  text-align: center;
  top: 70px;
}
.login-card{
  border-radius: 0px 0px 10px 10px;
  height: auto;
}

/*///////////////////Slider//////////////////////////*/


#sessao1{
  background-image: url("/assets/img/desafio.jpg");
  background-size: cover;
  background-position: center;
}

.slide {
  height: 174px;
  width: 100%;
  padding-bottom: 30px;
}

/*/////////////Sessao tabs personalizar//////////////////*/
.section{
  width: 100%;
  /*max-height: 1300px;*/
  min-height: 600px;
  /*height: 650px;*/
  background: white;
  margin: 0px auto;
}


.ingre_titulo{
  text-align: center;
  font-size: 24px;
  color: #009966 !important;
}
.img_ingre{
  width: 90px;
  margin: 0px auto;
  display: block;
}

.box_ingre_text{
  color: #808080;
  text-align: justify;
  padding: 20px;
  width: 100%;
  margin: 0px auto;
}

.indi{
  float: right;
  border-right: 1px solid #cacaca;
}
.mult{
  float: left;
}
.card .card-content-tabs{
  padding: 0px;
}


/*//////////////////////////Sessão cards//////////////////////////*/
.onda-branca{
  /*background-image: url("../../assets/img/det branco.svg");*/
  /*background-position: top;*/
  /*height: 20px;*/

}
.sessao-card{
  padding-bottom: 30px;
}
.sessao-card .titulo_s1{
  width: 62%;
  display: block;
  color: #5f5f5f;
  font-weight: normal;
  text-align: center;
  margin: 0px auto;
 padding-top: 30px;
  padding-bottom: 10px;
  font-size: 35px;
}
.sessao-card .sub_s1{
  margin: 0px auto;
  width: 57%;
  text-align: center;
  font-size: 18px;
  color: #5f5f5fd4;
  padding-bottom: 24px;
}
.box_card{
  display: flex;
  margin: auto;
  padding: 0px 40px;
  max-width: 1150px;
  justify-content: space-around;
  margin-bottom: 30px;
}
.boox {
  /* width: 30%; */
  width: 33%;
  margin-bottom: 130px;
  min-height: 280px;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-size: cover;
}
.box-card1{
  background-image: url("../../assets/img/Prancheta 1.jpg");
}
.box-card2{
  background-image: url("../../assets/img/Prancheta 3.jpg");
}
.box-card3{
  background-image: url("../../assets/img/Prancheta 2.jpg");
}
.texto-card{
  padding-left: 10px;
  color: #5f5f5f;
}
.cards{
  background: white;
  width: 33%;
  padding: 20px 15px 30px 15px;
  margin: 10px;
  border-radius: 20px;
  color: #5f5f5f;
  box-sizing: border-box;
}

.card-title {
  margin-bottom: 25px;
}

.cards ul {
  padding-left: 25px;
  font-size: 14px;
  font-size: 13px;
  line-height: 22px;
}

.det{
  background-image: url("/assets/img/det verde.svg");
  background-repeat: repeat;
  background-size: cover;
  background-position: bottom;
  position: absolute;
  top: 0;
  width: 100%;
  height: 40px;
  margin-top: -34px;
}

.box-card .card .card-title p{
  margin: -20px auto;
  text-align: left;
  padding-left: 25px;
  padding-top: 15px;
}
.titulo_card-azul{color: #0066cc; padding-left: 10px; margin: 3px;}
.titulo_card-rosa{color: #ff0099; padding-left: 10px; margin: 3px;}
.titulo_card-verde{color:#009966; padding-left: 10px; margin: 3px;}

p.titulo_card-verde,
p.titulo_card-rosa,
p.titulo_card-azul{
  font-size: 16px;
  font-weight: bold;
  margin-top: -3px;
}
.box-card .card-content p {
 text-align: justify;
  width: 90%;
}


/*//////////////IMAGEM ////////////////QR */
.qrimagem{
  width: 100%;
  position: relative;
  top: -20px;
  margin-top: 100px;
}
.qr-box{
  padding-bottom: 40px;
}

/*///////////////////footer///////////////////////////////*/
.page-footer{
  position: relative;
  background: #4d4d4d;
  color: white;
  padding: 20px;
}

.Titulo-footer{
  font-size: 18px;
  margin: 0px;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.38);
}

.lista{
  font-size: 12px;
  margin: 0px !important;
  color: #9b9b9b;
}
.row{
  margin-bottom: 0px;
}
.linha_baixo{
  border-top: 1px solid #5d5d5d;
  margin-top: 10px;

}
.row_contact{
  margin-bottom: 30px;
}
.logo_footer{
  width: 80%;
}

.texto_linha_baixo{
  text-align: center;
  color: #9b9b9b;;
}
.texto_linha_baixo p{
   margin: 0px;
  padding-top: 10px;
}

.linha-esquerda{
  border-right: 1px solid #5d5d5d;
  height: 320px;
}
.contato{
  font-size: 18px;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.38);
  margin: 2px;
}
.text_contato{
  margin: 0px;
}

.icones{
  margin: 10px;
}
.icones img {
  width: 40px;
}


/*////////////////Mensagem///////////////*/
.mensagem{
  position: absolute;
  z-index: 17;
  bottom: 0;
  right: 0;
  width: 30%;
  margin: 0px 20px;
}
.header{
  width: 100%;
  height: 40px;
  border-radius: 10px 10px 0px 0px;
  padding: 10px;
  text-align: center;
  font-size: 16px;
  background: #0066cc;
}
.conteudo{
  display: none;
  background: white;
  padding: 20px;
}
.forms_titulo{
  color: #5f5f5fb0;;
  margin: 0px;
}

.forms_contat::-webkit-input-placeholder {
  color: #5f5f5f;
}
/*/////////Text area/////////////*/
textarea.materialize-textarea{
  color: #5f5f5f;
}

/* /////// mandar mensagem by vinicius ///// */

.send-message{
  z-index: 20;
  width: 150px;
  border-radius: 5px;
  height: 120px;
  bottom: 10px;
  position: fixed;
  background: white;
  right: 0px;
  box-shadow: 0px 0px 6px 0px #0000004d;
}
.send-message button{
  color: #ff0099;
  padding: 10px;
  border: none;
  font-size: 14px;
  background-color: #ffffff;
  position: absolute;
  bottom: 5px;
  right: calc(50% - 58px);
  border-radius: 10px;
  cursor: pointer;
}
.send-message .suporte {
  width: 50px;
  position: absolute;
  left: calc(50% - 25px);
  top: calc(50% - 47px);
}

/*//////////// SEÇÃO PLATFORMAS*/
.plataformas {
  background:linear-gradient(135deg,#009966,#007F9B ) ;
}
.titulo-plat,.sub-plat{
  color: white;
}

.titulo-plat{
  width: 20%;
}
.imagens-plat{
  width: 115px;
}
.box{
  display: flex;
  width: 100%;
}
.box-plat-esquer{
  width: 30%;
}
.box-plat-direita{
  width: 70%;
}



/*@media screen and (max-width: 45em) {*/
  /*.tabPanel-widget label,*/
  /*.tabPanel-widget input[name="tabs"] {*/
    /*display: none;*/
  /*}*/
  /*.tabPanel-widget > input + h2 + div {*/
    /*display: block !important;*/
    /*position: static !important;*/
    /*padding: 1em !important;*/
    /*height: auto !important;*/
    /*width: auto !important;*/
  /*}*/

  /*.tabPanel-widget h2 {*/
    /*width: auto;*/
    /*position: static !important;*/
    /*background: #009966 !important;*/
  /*}*/
  /*.tabPanel-widget h2:after {*/
    /*display: none !important;*/
  /*}*/
/*}*/
/*MOBILE ESCODENDO DIV */
#desafio-mobile{
  display: none;
}

#card-mob{
  display: none;
}

#menu-mob{
  display: none;
}
#mob{
  display: none;
}
#card-mob{
  display: none;
}
#mobile-tabs{
  display: none;
}
app-tabs{
  display: none;
}
.esconde{
  display: none;
}

app-ferramentas{
  display: none;
}
